<!-- Inicio Breadcamb Inicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio Breadcamb-->
<ng-container style="height: 100;">
  <div class="row ">
    <div class="col-md-12">
      <i class="fas fa-home f-26 text-dark mb-2"></i>   <span class="text-muted mb-2" style="font-size: 20px;">{{
        nomeIgreja }}</span>
      <div class="row ">
        <div class="col-md-12">
          <div class="flex">
            <div class="row">
              <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item active"><a routerLink="/dashboard/default">Home</a></li>
                  <li class="breadcrumb-item active"><a>Secretaria</a></li>
                  <li class="breadcrumb-item active"><a>Casos</a></li>
                </ol>
                <hr class="mt-1 mb-0 text-c-blue border-2">
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
</ng-container>
<!-- fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb -->

<!-- Inicio Botões -->
<div class="card-header">
  <ng-container style="height: 100;">
    <div class="row ">
      <div class="col-md-12">
        <div class="row">

          <!-- Botões Inicio-->
          <div class="">

            <span class="float-end  mb-2 ">
              @if(currentAction !== 'new'){
              <p-button type="button" (click)="exclusaoCaso(caso)"
                [style]="{'height':'30px', 'margin-left':'10px'}" size="small" icon='pi pi-times' variant="outlined"
                severity="danger" label="Excluir" class="" />
              }
            </span>

            <!-- Botao salvar -->
            <span class="float-end mb-2 ml-4">
              <p-button (click)="submitForm()" [disabled]="submittingForm || casoForm.invalid" type="button"
                class="mr-4" [style]="{'height':'30px', 'margin-left':'10px', 'background':'#388669'}" size="small"
                label="Salvar" icon='pi pi-check' />
            </span>

            <!-- Botao voltar -->
            <span class="float-end mb-2">
              <p-button routerLink="/casos" routerLink="/casos" icon='pi pi-chevron-left'
                [style]="{'height':'30px', 'margin-left':'10px'}" size="small" severity="info" label="voltar"
                class=" mt-0" label="Voltar" />
            </span>

          </div>
          <!-- Botões Fim-->

          <span class="float-left">
            <nav aria-label="breadcrumb ">
              <div class="card mb-3"
                style="background-color: rgb(77, 83, 90); padding-left: 11px; border-radius: 4px; height: 30px; align-content: center;">
                <span class="mr-8 ml-4 mb-1  mt-1 text-white f-13">
                  <p class="f-14">{{ pageTitle }}</p>
                </span>
              </div>
            </nav>
          </span>
          <!-- Botões Fim-->

        </div>
      </div>
    </div>
  </ng-container>
</div>
<!-- Fim botões -->

<!-- CABEÇALHO DAS ABAS  -->

<ul class="nav nav-tabs profile-tabs nav-fills" id="myTab" role="tablist">

  <!-- Tratamento Caso-->
  <li class="nav-item mt-0 mb-0">
    <a class="nav-link text-reset" [ngClass]="{ active: this.activeTab === 'home' }" (click)="this.activeTab= 'home'"
      id="home-tab" data-toggle="tab" href="javascript:" role="tab" aria-controls="home" aria-selected="true"> <i
        class="fas fa-cogs mr-2 text-c-blue"></i>  Caso </a>
  </li>

  <li class="nav-item mt-0 mb-0">
    <a class="nav-link text-c-reset" [ngClass]="{ active: this.activeTab ===
        'acompanhamento' }" (click)="this.activeTab= 'acompanhamento'" id="acompanhamento-tab" data-toggle="tab"
      href="javascript:" role="tab" aria-controls="acompanhamento" aria-selected="false"><i
        class="fas fa-user-injured mr-2 text-c-red"></i>Acompanhamento </a>
  </li>

</ul>
<!-- FIM CABEÇALHO DAS ABAS  -->

<div class="page-header shadow ">
  <form [formGroup]="casoForm" autocomplete="off" (submit)="submitForm()">

    <!-- CONTROLE GERAL DAS ABAS -->
    <div class="tab-content  mb-2" id="myTabContent">

      <!-- ABA 1  -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': this.activeTab
            === 'home' }" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="row">

          <!-- Dados do Membro -->
          <div class="col-md-12 col-xl-6">

            <!-- Lista preta Dado do Membro  -->
            <div class="col-12 card card-secondary pt-1 pb-1 f-17 text-white"
              style="padding-left: 10px; background-color: rgb(77, 83, 90); cursor: pointer; border-radius: 5px;">
              Dados do Membro
            </div>

            <div class="form-group row">
              <!-- Foto Quando tem foto-->
              <ng-container>
                @if(foto){
                <div class="mb-1 form-group col-md-2 flex items-center gap-2" style="min-width: 90px;">
                  <div class="text-left">
                    <div class="mb-0 ">
                      <img [class]="'flag flag-'"
                        src="data:image/jpg;base64,{{ pessoa!.foto }}" style="cursor: pointer; width:90px; border-radius: 10px;" />
                    </div>
                  </div>
                </div>
                }
              </ng-container>

              <!-- Foto - Quando não tem foto-->

              <ng-container>
                @if(!foto){
                <div class="mb-1 form-group col-md-2 flex items-center gap-2" style="min-width: 90px;">
                  <div class="text-left">
                    <div class="mb-0 ">
                      <img [class]="'flag flag-'" src="assets/images/foto/Sem_Foto.png" style="cursor: pointer; width:90px; border-radius: 10px;"/>
                    </div>
                  </div>
                </div>
                }
              </ng-container>

              <!-- name INCLUSÃO-->
              @if(currentAction == 'new'){
              <div class="form-group col-md-10 mt-3">
                <label>Nome</label>
                <p-select (onChange)="selectPessoa($event)" formControlName="pessoaId" [options]="pessoas"
                  [editable]="false" [filter]="true" filterBy="nome" [showClear]="false" optionLabel="nome"
                  resetFilterOnHide="true" dropdownIcon="pi pi-user" optionValue="id" [autofocus]="true"
                  placeholder="Selecione..." />
              </div>
              }

              <!-- nome EDIÇÃO -->
              @if(currentAction !== 'new'){
              <div class="form-group col-md-10 mt-3">
                <label>Nome </label>
                <input readonly style="border: 1; border-color: rgb(216, 214, 214);" type="text" class="form-control"
                  formControlName="nome">
              </div>
              }

              <!-- Relato -->
              <div class="form-group col-md-12">
                <label>Relato</label>
                <textarea class="form-control " style="height: 50px;" formControlName="relato" rows="3"
                  placeholder="Descrever os fatos relatado pelo membro."></textarea>

                @if(casoForm.controls['relato'].dirty && casoForm.controls['relato'].errors){
                <p class="danger" style="font-size: 11px;" margin-left>
                  O relato é obrigatorio!</p>
                }
              </div>
            </div>
          </div>
          <!-- Fim dados do Membro -->

          <!--Dados da ATA  -->
          <div class="col-md-12 col-xl-6">

            <div class="col-12 card card-secondary pt-1 pb-1 f-17 text-white"
              style="padding-left: 10px; background-color: rgb(77, 83, 90); cursor: pointer; border-radius: 5px;">
              Dados da ATA
            </div>

            <div class="form-group row">

              <!-- Local - Cidade/UF -->
              <div class="form-group col-md-8 mt-3">
                <label>Local </label>
                <input style="border: 1; border-color: rgb(216, 214, 214);" type="text" class="form-control"
                  formControlName="local" placeholder="Cidade/UF">
              </div>

              <!-- data da Caso-->
              <div class="form-group col-md-4 mt-3">
                <label>Data</label>
                <p-datepicker [style]="{'width':'100%','height':'30px'}" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1900:2100" [showButtonBar]="true" [showIcon]="true" inputId="icondisplay" dataType="string"
                  dateFormat="dd/mm/yy" formControlName="dataCaso" placeholder="dd/mm/aaaa" />
              </div>

              <!-- Pauta -->
              <div class="form-group col-md-6">
                <label>Pauta </label>
                <input style="border: 1; border-color: rgb(216, 214, 214);" type="text" class="form-control"
                  formControlName="pauta" placeholder="hh:mm">
                @if(casoForm.controls['pauta'].dirty && casoForm.controls['pauta'].errors){
                <p class="danger" style="font-size: 11px;" margin-left>
                  Pauta inválida</p>
                }
              </div>

              <!-- Hora Início -->
              <div class="form-group col-md-3">
                <label>Início </label>
                <input style="border: 1; border-color: rgb(216, 214, 214);" type="time" id="date" class="form-control"
                  formControlName="horaInicio" placeholder="Date" atp-time-picker value="20:00" onlyHour="true"
                  onlyAM="true" />
              </div>

              <!-- Hora Término -->
              <div class="form-group col-md-3 ">
                <label>Término </label>
                <input style="border: 1; border-color: rgb(216, 214, 214);" type="time" id="date" class="form-control"
                  formControlName="horaTermino" placeholder="Date" atp-time-picker value="21:00" onlyHour="true"
                  onlyAM="true" />
              </div>
            </div>
          </div>

          <!-- Dados do Caso -->
          <div class="col-md-12 col-xl-6">

            <!-- Lista preta Dados do Caso  -->
            <div class="col-12 card card-secondary pt-1 pb-1 f-17 text-white"
              style="padding-left: 10px; background-color: rgb(77, 83, 90); cursor: pointer; border-radius: 5px;">
              Dados da Disciplina
            </div>

            <div class="form-group row">

              <!-- Infração Tipo de Falta -->
              <div class="form-group col-md-6">
                <label>Tipo de Falta</label>
                <p-select (onChange)="selectTipoFalta($event)" formControlName="tipoFaltaId" [options]="tipoFaltas"
                  [editable]="false" [filter]="true" filterBy="nome" [showClear]="false" optionLabel="nome"
                  resetFilterOnHide="true" dropdownIcon="pi pi-user" optionValue="id" [autofocus]="true"
                  placeholder="Selecione..." />
              </div>

              <!-- disciplina -->
              <div class="form-group col-md-6">
                <label>Disciplina</label>
                <p-select (click)="crtDisciplina()" (onChange)="selectDisciplina($event)" formControlName="disciplinaId"
                  [options]="disciplinas" [editable]="false" [filter]="true" filterBy="nome" [showClear]="false"
                  optionLabel="nome" resetFilterOnHide="true" dropdownIcon="pi pi-user" optionValue="id"
                  [autofocus]="true" placeholder="Selecione..." #Tive que colocar este controle por que todo esses
                  comando nesta seleção são executados no carregamento loadCaso. Assim as datas apresentavam
                  diferentes />
              </div>
            </div>

            <div class="row mb-4">
              <!-- inicioProva -->
              <div class="form-group col-md-6">
                <label>Início da prova</label>
                <p-datepicker [style]="{'width':'100%','height':'30px'}" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1900:2100" [showButtonBar]="true" [showIcon]="true" inputId="icondisplay" dataType="string"
                  dateFormat="dd/mm/yy" formControlName="inicioProva" placeholder="dd/mm/aaaa" />
              </div>

              <!-- finalProva -->
              <div class="form-group col-md-6">
                <label>Final da prova</label>
                <p-datepicker [style]="{'width':'100%','height':'30px'}" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1900:2100" [showButtonBar]="true" [showIcon]="true" inputId="icondisplay" dataType="string"
                  dateFormat="dd/mm/yy" formControlName="finalProva" placeholder="dd/mm/aaaa" />
              </div>
            </div>
          </div>
          <!-- Fim dados do Membro -->

          <!-- Dados da Mesa -->
          <div class="col-md-12 col-xl-6">

            <!-- Lista preta Dados da Mesa  -->
            <div class="col-12 card card-secondary pt-1 pb-1 f-17 text-white"
              style="padding-left: 10px; background-color: rgb(77, 83, 90); cursor: pointer; border-radius: 5px;">
              Dados da Mesa
            </div>

            <div class="form-group row">

              <!-- Lista apenas Obreiros -->
              <div class="form-group col-md-6">
                <label>Presidente</label>
                <p-select (onChange)="selectPresidente($event)" formControlName="presidenteId" [options]="obreiros"
                  [editable]="false" [filter]="true" filterBy="nome" [showClear]="false" optionLabel="nome"
                  resetFilterOnHide="true" dropdownIcon="pi pi-user" optionValue="id" [autofocus]="true"
                  placeholder="Selecione..." />
              </div>

              <!-- Lista apenas Membros -->
              <div class="form-group col-md-6">
                <label>Secretário</label>
                <p-select (onChange)="selectSecretario($event)" formControlName="escrivaoId" [options]="obreiros"
                  [editable]="false" [filter]="true" filterBy="nome" [showClear]="false" optionLabel="nome"
                  resetFilterOnHide="true" dropdownIcon="pi pi-user" optionValue="id" [autofocus]="true"
                  placeholder="Selecione..." />
              </div>

              <!-- Observação -->
              <div class="form-group col-md-12">
                <label>Observação</label>
                <textarea class="form-control" style="height: 50px;" formControlName="observacao" rows="5"
                  placeholder="Observações da mesa."></textarea>
              </div>
            </div>
          </div>
          <!-- Fim dados da Mesa -->
        </div>


      </div>
      <div class="tab-pane fade" [ngClass]="{ 'show active': this.activeTab === 'acompanhamento' } " id="acompanhamento"
        role="tabpanel" aria-labelledby="acompanhamento-tab">

        <div class="row">
          <!-- Dados da Encerramento  -->
          <div class="col-md-12 col-xl-6">

            <!-- Lista preta Dados do encerramento do caso  -->
            <div class="col-12 card card-secondary pt-1 pb-1 f-17 text-white"
              style="padding-left: 10px; background-color: rgb(77, 83, 90); cursor: pointer; border-radius: 5px;">
              Dados do Caso
            </div>

            <div class="form-group row">
              <!-- name -->
              <div readonly class="form-group col-md-12 ">
                <label>Nome</label>
                <input readonly autocomplete="off" type="text" style="height: 35px;" class="form-control"
                  formControlName="nome">
              </div>


              <!-- tipoFaltaCaso -->
              <div readonly class="form-group col-md-6 ">
                <label>Tipo de Falta</label>
                <input readonly autocomplete="off" type="text" style="height: 35px; " class="form-control"
                  formControlName="tipoFaltaCaso">
              </div>

              <!-- disciplina -->
              <div class="form-group col-md-6">
                <label>Disciplina</label>
                <input readonly autocomplete="off" type="text" style="height: 35px" class="form-control"
                  formControlName="disciplinaAplicada">
              </div>

            </div>
          </div>
          <!-- Fim dados do Encerramento -->

          <!-- Dados da Encerramento  -->
          <div class="col-md-12 col-xl-6">

            <!-- Lista preta Dados do Arquivamento do caso  -->
            <div class="col-12 card card-secondary pt-1 pb-1 f-17 text-white"
              style="padding-left: 10px; background-color: rgb(77, 83, 90); cursor: pointer; border-radius: 5px;">
              Resultado | Finalização | Arquivamento
            </div>

            <div class="form-group row">

              <!-- inicioProva  -->
              <div class="form-group col-md-6">
                <label class="text-c-red">Início da prova</label>
                <input readonly style="border: 1; border-color: rgb(216, 214, 214);" type="text" class="form-control"
                  formControlName="inicioProva">
              </div>

              <!-- finalProva  -->
              <div class="form-group col-md-6">
                <label class="text-c-green">Final da prova</label>
                <input readonly style="border: 1; border-color: rgb(216, 214, 214);" type="text" class="form-control"
                  formControlName="finalProva">
              </div>

              <div class=" form-group col-md-6">
                <label><b><i class="fas fa-diagnoses text-dark" style="font-size: 16px;">
                      Resultado/Arquivamento</i></b></label>
                <p-select (onChange)="selectResultado($event)" formControlName="resultado" [options]="resultado"
                  [editable]="false" [filter]="true" filterBy="nome" [showClear]="false" optionLabel="nome"
                  resetFilterOnHide="true" dropdownIcon="pi pi-user" optionValue="nome" [autofocus]="true"
                  placeholder="Selecione..." />
              </div>

              <!-- Data do Arquivamento do caso -->
              @if(casoForm.controls['resultado'].value !== 'Aguardando'){
              <div class="form-group col-md-6">
                <label>Data Arquivamento</label>
                <p-datepicker [style]="{'width':'100%','height':'30px'}" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1900:2100" [showButtonBar]="true" [showIcon]="true" inputId="icondisplay" dataType="string"
                  dateFormat="dd/mm/yy" formControlName="dataArquivamento" placeholder="dd/mm/aaaa" />
              </div>
              }

              <!-- Motivo do encerramento -->
              @if(casoForm.controls['resultado'].value !== 'Aguardando'){
              <div class="form-group col-md-12">
                <label>Motivo do arquivamento </label>
                <textarea class="form-control" style="height: 100px;" formControlName="motivoEncerramento" rows="5"
                  placeholder="Descrever brevemente o motivo do encerramento, Ex: 'Desviou-se'"></textarea>
              </div>
              }
            </div>
          </div>
          <!-- Fim dados do Arquivamento -->
        </div>
      </div>
    </div>
  </form>
  <!-- <div class="row ">
  <div class="form-group ">
    <pre> {{ casoForm.value | json }} </pre><br>
  </div>
</div> -->
</div>