<div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">
  <div class="row align-items-center w-100 align-items-stretch bg-white">
    <div class="d-none d-lg-flex col-lg-8 aut-bg-img align-items-center d-flex justify-content-center">
      <div class="col-md-8">
        <h1 class="text-white mb-5">Login in Datta Able</h1>
        <p class="text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
          ever.
        </p>
      </div>
    </div>
    <div class="col-lg-4 align-items-stret h-100 align-items-center d-flex justify-content-center">
      <div class="auth-content text-center">
        <h3 class="mb-4">Login</h3>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="floatingInputValue"
              placeholder=""
              [ngClass]="{ 'is-invalid': submitted && formValues?.['email'].errors }"
            />
            @if (submitted && formValues?.['email'].errors) {
              <div class="invalid-feedback">
                @if (formValues?.['email'].errors.required) {
                  <div>Username is Required</div>
                }
              </div>
            }
          </div>
          <div class="input-group mb-4">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              class="form-control"
              id="password"
              placeholder=""
              formControlName="password"
              [(ngModel)]="selectedRole.password"
              [ngClass]="{ 'is-invalid': submitted && formValues?.['password'].errors }"
            />
            @if (selectedRole.password) {
              <i
                [ngClass]="showPassword ? 'feather icon-eye' : 'feather icon-eye-off'"
                id="togglePassword"
                (click)="togglePasswordVisibility()"
              ></i>
            }
            @if (submitted && formValues?.['password'].errors) {
              <div class="invalid-feedback">
                @if (formValues?.['password'].errors.required) {
                  <div>Password is Required</div>
                }
              </div>
            }
          </div>
          <div class="form-group text-left">
            <div class="checkbox checkbox-fill d-inline">
              <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
              <label for="checkbox-fill-a1" class="cr">Save credentials</label>
            </div>
          </div>
          <div class="d-grid mt-4">
            <button class="btn btn-primary">Login</button>
          </div>
          @if (error) {
            <div class="alert alert-danger mt-3 mb-0">{{ error }}</div>
          }
        </form>
        <p class="mb-2 text-muted">
          Forgot password?
          <!-- <a [routerLink]="[this.authenticationService.isLoggedIn() ? '/auth/reset-password-v2' : '/reset-password']">Reset</a> -->
        </p>
        <p class="mb-0 text-muted">
          Don’t have an account?
          <!-- <a [routerLink]="[this.authenticationService.isLoggedIn() ? '/auth/signup-v2' : '/register']">Sign up</a> -->
        </p>
      </div>
    </div>
  </div>
</div>
