<!-- Inicio Breadcamb Inicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio Breadcamb-->
<section>
  <div class="row">
    <div class="col-md-12 col-xl-9 mb-3">
      <div >
        <div class="card-border-c-blue shadow border-2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <!-- Escondida -->

            <div hidden class="col-md-2 col-sm-8 p-l-30">
              <p>Eventos - Cores</p>
              <div class="filter-container">
                <ul class="filterCheck">
                  <li *ngFor="let filter of filters; let i = index" class="mb-2">
                    <input type="checkbox" name="filter{{i}}" [name]="calCheck" [value]="filter.value"
                      [checked]="filter.checked === true" (change)="changeCategory($event, filter)" />
                    {{filter.value}}
                  </li>
                </ul>
              </div>
            </div>
            <!-- fim Escondida -->
             
            <!-- Cabeçalho calendário -->
           <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="px-3  mt-3 mb-0 col-auto " style=" border-color: rgb(233, 234, 240) ; 
                           border-radius: 5px; ">
                <span class="text-dark" style="font-size: 18px; " href="javascript:">Agenda da Igreja</span>
                <button type="button" class="btn btn-primary p-0 float-end" style="border-radius: 5px; height: 30px"
                  (click)="eventWindowCall($event, 'addEvent')">
                    Novo Evento  
                </button>
                <!-- Fim Cabeçalho calendário -->
              </div>
              <hr class="mb-2">
              <div id="calendar" class="px-2 pb-2  ">
                <full-calendar #calendar [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
      <!-- Membro Ativos  -->
    <div class="col-md-12 col-xl-3">

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-border-c-green border-2 mb-3  shadow">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="fas fa-users f-28 text-success"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-dark mt-2">Membros Ativos</h6>
              <h6 class="m-b-2">
                <p>{{ totalGeralMembros }}</p>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-border-c-blue border-2 mb-3 shadow">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="fas fa-users f-28 text-dark"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-dark mt-2">Obreiros</h6>
              <h6 class="m-b-2">
                <p>{{ totalObreiros }}</p>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-border-c-yellow border-2 mb-3  shadow">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="fas fa-users f-28 text-warning"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-dark mt-2">Congregados</h6>
              <h6 class="m-b-2">
                <p>{{ totalCongregados }}</p>
              </h6>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <!-- Adiciona registro modal -->
  <ng-template #eventWindow let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="table-modal-header">
          <div class="modal-about">
            <div class="fw-bold p-t-10 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </h4>
    </div>
    <div class="modal-body">
      <form class="register-form" [formGroup]="calendarForm">
        <div class="input-field col s12 d-none">
          <input formControlName="id" class="form-control form-control-sm " type="hidden">
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
            <label>Título/Nome<span class="text-danger">*</span></label>
            <input type="text" class="form-control form-control-sm" placeholder="Título/Nome" formControlName="title" required>
            <small class="form-text text-danger"
              *ngIf="!calendarForm.get('title')?.valid && calendarForm.get('title')?.touched"> Título é
              obrigatório</small>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <label>Inicio<span class="text-danger">*</span></label>
            <input type="datetime-local" class="form-control form-control-sm" placeholder="Data Inicial" formControlName="startDate"
              required>
            <small class="form-text text-danger"
              *ngIf="!calendarForm.get('startDate')?.valid && calendarForm.get('startDate')?.touched">O início do evento
              é
              obrigatório</small>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
            <label>Término<span class="text-danger">*</span></label>
            <input type="datetime-local" class="form-control form-control-sm" placeholder="Data Final" formControlName="endDate"
              required>
            <small class="form-text text-danger"
              *ngIf="!calendarForm.get('endDate')?.valid && calendarForm.get('endDate')?.touched"> O termino do evento é
              obrigatório</small>
          </div>


          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-1">
            <label>Selecione uma cor <span class="text-danger">*</span></label>
            <select class="form-select form-control " style="font-size: 13px; padding-top: 5px;" formControlName="category" required>
              <!-- <option value="" selected disabled>Selecione um tipo de evento</option> -->
              <option id="work" value="work">Verde</option>
              <option id="personal" value="personal">Laranja</option>
              <option id="important" value="important">Azul</option>
              <option id="friends" value="friends">Azul Claro</option>
              <option id="travel" value="travel">Vermelho</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
            <label>Detalhes</label>
            <textarea type="textarea" class="form-control" placeholder="Detalhes" formControlName="details"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf=isEditClick type="button" class="btn btn-sm btn-danger " (click)="modal.close('Close click')"
            (click)="excluirEvent(calendarForm.value)">Excluir</button>

          <button *ngIf=!isEditClick type="button" class="btn btn-sm btn-primary" (click)="saveEvent(calendarForm)"
            [disabled]="!calendarForm.valid">Adicionar</button>

          <button *ngIf=isEditClick type="button" class="btn btn-sm btn-primary" (click)="eventClick(calendarForm)"
            [disabled]="!calendarForm.valid">Salvar</button>
          <button type="button" class="btn btn-sm btn-light" (click)="modal.close('Close click')">Fechar</button>
        </div>
      </form>
    </div>
  </ng-template>
</section>