<!-- Inicio Breadcamb Inicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio Breadcamb-->
<div class=" page-header">
  <ng-container style="height: 100;">
    <div class="row ">
      <div class="col-md-12">
        <i class="fas fa-home f-26 text-dark"></i>   <span class="text-muted" style="font-size: 20px;">{{
          nomeIgreja }}</span>
        <hr class="mt-0 mb-2">
        <div class="row ">
          <div class="col-md-12">
            <div class="flex">
              <div class="row">
                <nav aria-label="breadcrumb mb-0">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item active"><a>Home</a></li>
                    <li class="breadcrumb-item active"><a>Cadastro</a></li>
                    <li class="breadcrumb-item active"><a>Modelo de Documentos</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </ng-container>
  <!-- fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb -->
  <!-- Inicio Botões-->
  <div class="card-header">
    <ng-container style="height: 100;">
      <div class="row ">
        <div class="col-md-12">
          <div class="row">
            <!-- Botões Inicio-->
            <div class="">
              <span class="float-end  ml-0  mb-2">
                <button *ngIf="modeloDocumento.id > 0 && activeTab == 'modeloDocumento'" type="button"
                  (click)="confirmarExclusaoModeloDocumento(modeloDocumento)" styleClass="p-button-sm"
                  icon='pi pi-times' style="width: 7em;
                    height: 30px; font-size: small; border-radius: 5px;" pButton pRipple label="Excluir" class="p-button-danger ml-2
                    p-button-outlined ">
                </button>
              </span>

              <span class="float-end  ml-2 mb-2">
                <strong><button *ngIf="activeTab == 'modeloDocumento'" (click)="submitForm()"
                    [disabled]="submittingForm || modeloDocumentoForm.invalid" type="button" class=" mr-3 ml-2" pButton
                    pRipple label="Salvar" style="width: 7em; font-size: small; border-radius: 5px; background:#388669; height: 30px;"
                    icon='pi pi-check'>
                  </button></strong>
              </span>
              <span class="float-end  ml-2   mb-2">
                <strong><button routerLink="/modelodocumentos" styleClass="p-button-sm" icon='pi pi-chevron-left'
                    type="button" label="voltar" class="p-button-purple mt-0" pButton pRipple label="Voltar"
                    style="width: 7em; font-size: small; border-radius: 5px; height: 30px;
                          background: #1a82ce; color: aliceblue;">
                  </button></strong>
              </span>
            </div>
            <!-- Botões Fim-->
            <nav aria-label="breadcrumb mb-0">
              <div class="form-group row col-sm-12 ml-0 mb-0 mr-0">
                <div class="card mb-0" style="background-color: rgb(77, 83, 90); border-radius: 4px; height: 30px; align-content: center;">
                  <span class="ml-0 mb-1  mt-1 text-white f-13"><p class="f-12">{{ pageTitle }}</p></span>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Fim botões -->

  <!-- CABEÇALHO DAS ABAS  -->

  <ul class="nav nav-tabs profile-tabs nav-fills" id="myTab" role="tablist">

    <li *ngIf="currentAction == 'edit' && modeloDocumento.id > 0" class="nav-item mt-2">
      <a class="nav-link text-reset" [ngClass]="{ active: this.activeTab === 'modeloDocumento' }"
        (click)="this.activeTab= 'modeloDocumento'" id="modeloDocumento-tab" data-toggle="tab" href="javascript:"
        role="tab" aria-controls="modeloDocumento" aria-selected="true"> <i
          class="fas fa-book mr-2 text-c-blue"></i>Modelos de modeloDocumento
      </a>
    </li>
  </ul>
  <!-- FIM CABEÇALHO DAS ABAS  -->

  <form [formGroup]="modeloDocumentoForm" autocomplete="off" (submit)="submitForm()">

    <div class="tab-content shadow mb-2" id="myTabContent">
      <!-- ABA DOCUMENTO  -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': this.activeTab === 'modeloDocumento' }"
        id="modeloDocumento" role="tabpanel" aria-labelledby="modeloDocumento-tab">
        <div class="page-header shadow mb-2" style="background-color: rgb(244, 244, 244);">
          <div class="row">
            <!-- name -->
            <div class="form-group col-md-4 mb-0">
              <label class="text-dark mt-1">Nome</label>
              <input autocomplete="off" type="text" class="
              form-control" formControlName="nome">
            </div>

            <!-- Tipo Padrao/Igreja-->
            <div *ngIf="(perfil == 'ADMIN')" class="form-group col-md-4 mb-0">
              <label class="text-dark mt-1">Tipo</label>
              <ngx-select autocomplete="off" [allowClear]="false" [multiple]="false" [placement]="'right'"
                ngbTooltip=" Padrão: Visível para todas Igrejas. Igreja: Visível apenas para a Igreja que cadastrar"
                [items]="tipos" [autoClearSearch]="true" [noAutoComplete]="false" optionValueField="nome"
                optionTextField="nome" formControlName="tipoDocumento" placeholder="Selecione"
                (select)="doSelectTipoDocumento($event)">
              </ngx-select>
            </div>

            <!-- tipoDocumento -->
            <div class="form-group col-md-4 mb-0">
              <label class="text-dark mt-1">Modelo de Documento</label>
              <ngx-select autocomplete="off" [allowClear]="false" [multiple]="false" [items]="tipoDocumentos"
                [autoClearSearch]="true" [noAutoComplete]="false" optionValueField="nome" optionTextField="nome"
                formControlName="tipo" placeholder="Selecione">
              </ngx-select>
            </div>
          </div>
        </div>

        <!-- Lista Variaveis -->
        <div class="row mb-2">
          <span class=" col-sm-2 mt-0">
            <strong><button (click)="modalVariavel.show()" type="button" class="mb-1 " pButton pRipple
                style="width: 20em; background-color: rgb(77, 83, 90); height: 30px; border-radius: 5px; font-size: 14; "
                icon="pi pi-check">  Variáveis de Configuração
              </button></strong>
          </span>

          <!-- Botao imprimir -->
          <span class="col-sm-2 mt-0">
            <strong><button id="btn_imp" type="button" class="p-button-purple mt-0 ml-8  " (click)="imprimir()" pButton
                pRipple label="Imprimir" style="width: 6em; height: 30px; border-radius: 5px;
                background: #1a82ce; color: aliceblue;">
              </button></strong>
          </span>

        </div>

        <!-- Inicio Modal Variaveis -->
        <form autocomplete="off" (submit)="submitForm()">
          <div class="col-sm-12">
            <app-ui-modal #modalVariavel [dialogClass]="'modal-lg'">

              <!-- Modal Body Inicio -->
              <div class="app-modal-body">

                <!-- Pesquisa Variavel -->
                <div class="row mb-3 ml-1">
                  <span class=" col-sm-6 mt-0">
                    <div class="p-inputgroup mb-1">
                      <button type="button"
                        style="height: 30px; width: 50px; cursor:default ; border-radius: 10px; border-bottom-right-radius: 0; border-top-right-radius: 0; border: 0; background:#1a82ce;"
                        pButton pRipple class=""> <i class="pi pi-search"></i></button>
                      <input class="form-control mb-1" [(ngModel)]="variavel" [ngModelOptions]="{standalone: true}"
                        type="text" placeholder="Pesquisar "
                        (input)="dtvariavel.filterGlobal($event.target.value, 'contains')"
                        style="height: 30px; min-width: 180px; width: 400px; border-radius: 10px; border-bottom-left-radius: 0; border-top-left-radius: 0; font-size: 14px; text-transform: lowercase">
                    </div>
                  </span>
                </div>

                <div class="row ml-2 mr-2">
                  <!-- Tabela Variaveis -->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mb-3 ">
                        <div class="">
                          <p-table #dtvariavel [value]="variaveis" [globalFilterFields]="['variavel']" [lazy]="true"
                            (onLazyLoad)="loadVariavelLazy($event)" [showCurrentPageReport]="true"
                            [totalRecords]="totalRegistros"
                            styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                            [tableStyle]="{'min-width': '40rem'}"
                            currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
                            [paginator]="true" [rows]="linesPerPage" emptyMessage="Nenhum registro encontrado">



                            <ng-template pTemplate="header">
                              <tr>
                                <th class="col-data-content-4"
                                  style="background: rgb(213, 215, 218); font-size: 11px ;color: rgb(11, 11, 11);">
                                  <b>Variavel</b>
                                </th>
                                <th class="col-data-content-4"
                                  style="background: rgb(213, 215, 218); font-size: 11px ;color: rgb(10, 10, 10);">
                                  <b>Descrição da variável</b>
                                </th>
                                <th class="col-data-content-4"
                                  style="background: rgb(213, 215, 218); font-size: 11px ;color: rgb(10, 10, 10);">
                                  <b>Local</b>
                                </th>

                                <!-- <th class="col-acoes-header" style="background: rgb(77, 83, 90); font-size: 11px ;color: aliceblue;">
                          Ações</th> -->

                              </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-variavel>
                              <tr>
                                <td class="col-data-content-3 text-c-dark" style=" font-size: 13px"><b>{{
                                    variavel.variavel }}</b>
                                </td>
                                <td class="col-data-content-3 " style=" font-size: 13px">{{ variavel.nome }}
                                <td class="col-data-content-3" style=" font-size: 13px">{{ variavel.local }}
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Footer Modal  Variaveis  -->
                <div class="modal-footer">

                  <button data-dismiss="modal" type="button" class=" mr-4" pButton pRipple
                    (click)="modalVariavel.hide();" label="Fechar" style="width: 6em; height: 35px;
                    border-radius: 10px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                  </button>
                </div>
                <!-- <div class="form-group "></div>
                    <pre> {{separacaoForm.variaveis | json}} </pre> -->
              </div>
            </app-ui-modal>
          </div>
        </form>

        <!-- Fim Modal Variaveis -->

        <ckeditor [(ngModel)]="ckeditorContent" [config]="config" (change)="onChange($event)" (ready)="onReady($event)"
          (focus)="onFocus($event)" (blur)="onBlur($event)" formControlName="conteudo">
        </ckeditor>

        <!-- <section class="content">
          <div class="row clearfix">
            <label>CKeditor</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card-body">
                <ckeditor [(ngModel)]="ckeditorContent"  onblur="" name="editor" id="editor" formControlName="conteudo"></ckeditor>
              </div>
            </div>
          </div>
        </section><br> -->

        <!-- Quill Editor -->
        <!-- <section class="main-content">
          <div class="row">
            <label>Quill</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-body">
                  <quill-editor
                  [styles]="{'min-height': '240px'}" 
                  formControlName="conteudo"
                  [(ngModel)]="ckeditorContent"
                  >
                  </quill-editor>
                </div>
            </div>
          </div>
      </section> -->

      </div>

      <div class="row ">
        <!-- <div class="form-group ">
          <pre> {{modeloDocumentoForm.value | json}} </pre><br>
        </div> -->
      </div>
    </div>
  </form>