<!-- Inicio Breadcamb Inicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio Breadcamb-->
<div class=" page-header">
  <ng-container style="height: 100;">
    <div class="row ">
      <div class="col-md-12">
        <i class="fas fa-home f-26 text-dark"></i>   <span class="text-muted" style="font-size: 20px;">{{
          nomeIgreja }}</span>
        <div class="row ">
          <div class="col-md-12">
            <div class="flex">
              <div class="row">
                <nav aria-label="breadcrumb mb-0">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item active"><a routerLink="/dashboard/default">Home</a></li>
                    <li class="breadcrumb-item active"><a>Cadastro</a></li>
                    <li class="breadcrumb-item active"><a>Modelo de documentos</a></li>
                  </ol>
                  <hr class="mt-1 mb-2">
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb -->
  <!-- Inicio Botões-->
  <div class="card-header">
    <ng-container style="height: 100;">
      <div class="row ">
        <div class="col-md-12">
          <div class="row">
            <!-- Botões Inicio-->
            <div class="">
              <span class="float-end  ml-0  mb-2">
                @if(modeloDocumento.id > 0 && activeTab == 'modeloDocumento'){
                <p-button type="button" (click)="exclusaoModeloDocumento(modeloDocumento)"
                  [style]="{'height':'30px', 'margin-left':'10px'}" size="small" icon='pi pi-times' variant="outlined"
                  severity="danger" label="Excluir" />
                }
              </span>

              <span class="float-end mb-2 ">
                @if(activeTab == 'modeloDocumento'){
                <p-button severity="success" (click)="submitForm()"
                  [disabled]="submittingForm || modeloDocumentoForm.invalid" type="submit" class="mr-4"
                  [style]="{'height':'30px', 'margin-left':'10px', 'background':'#388669'}" size="small" label="Salvar"
                  icon='pi pi-check' />
                }
              </span>
              <span class="float-end  ml-2   mb-2">
                <p-button routerLink="/modelodocumentos" icon='pi pi-chevron-left'
                  [style]="{'height':'30px', 'margin-left':'10px'}" size="small" severity="info" label="voltar"
                  class=" mt-0" label="Voltar" />
              </span>
              <nav aria-label="breadcrumb mb-0">
                <div class="form-group row col-sm-12 ml-0 mb-0 ">
                  <div class="card mb-0"
                    style="background-color: rgb(77, 83, 90); border-radius: 4px; height: 30px; align-content: center; margin-left: 12px;">
                    <span class="mb-1  mt-0 text-white">
                      <p class="f-18">{{ pageTitle }}</p>
                    </span>
                  </div>
                </div>
              </nav>
            </div>
            <!-- Botões Fim-->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Fim botões -->

  <!-- CABEÇALHO DAS ABAS  -->

  <ul class="nav nav-tabs profile-tabs nav-fills" id="myTab" role="tablist">

    @if(currentAction == 'edit' && modeloDocumento.id > 0){
    <li class="nav-item mt-2 f-18">
      <a class="nav-link text-c-dark" [ngClass]="{ active: this.activeTab === 'modeloDocumento' }"
        id="modeloDocumento-tab" data-toggle="tab" role="tab" aria-controls="modeloDocumento" aria-selected="true"> <i
          class="fas fa-book text-c-blue"></i>  Modelos de documentos
      </a>
    </li>
    }
  </ul>
  <!-- FIM CABEÇALHO DAS ABAS  -->

  <form [formGroup]="modeloDocumentoForm" autocomplete="off" (submit)="submitForm()">

    <div class="tab-content shadow mb-2" id="myTabContent">
      <!-- ABA DOCUMENTO  -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': this.activeTab === 'modeloDocumento' }"
        id="modeloDocumento" role="tabpanel" aria-labelledby="modeloDocumento-tab">
        <div class="page-header shadow mb-2" style="background-color: rgb(244, 244, 244);">
          <div class="row">
            <!-- name -->
            <div class="form-group col-md-4 mb-0">
              <label class="text-dark mt-1">Nome</label>
              <input autocomplete="off" type="text" class="
              form-control text-dark" style="font-size: 14px" formControlName="nome">
            </div>

            <!-- Tipo Padrao/Igreja-->
            @if(perfil == 'ADMIN'){
            <div class="form-group col-md-4 mb-0">
              <label class="text-dark mt-1">Tipo</label>
              <p-select [style]="{'width':'100%','height':'30px'}" class="w-full md  mb-2"
                formControlName="tipoDocumento" [options]="tipos" [editable]="false" [filter]="false" filterBy="nome"
                [showClear]="false" optionLabel="nome" resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down"
                [autofocus]="false" optionValue="nome" placeholder="" (onChange)="onChangeTipoPadraoIgreja($event)">
              </p-select>
            </div>
            }

            <!-- tipoDocumento -->
            <div class="form-group col-md-4 mb-0">
              <label class="text-dark mt-1">Modelo de Documento</label>
              <p-select [style]="{'width':'100%','height':'30px'}" class="w-full md  mb-2" formControlName="tipo"
                [options]="tipoDocumentos" [editable]="false" [filter]="true" filterBy="nome" [showClear]="false"
                optionLabel="nome" resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down" [autofocus]="false"
                optionValue="nome" placeholder="Selecione">
              </p-select>
            </div>
          </div>
        </div>

        <!-- Lista Variaveis -->
        <div class="col-12 mb-2">
          <span class="  mt-0">
            <strong><button (click)="modalVariavel.show()" type="button" class="mb-1 " pButton pRipple
                style="background-color: rgb(77, 83, 90); height: 30px; border-radius: 5px; font-size: 14; "
                icon="pi pi-check">  Variáveis
              </button></strong>
          </span>

          <!-- Botao imprimir -->
          <span class=" mt-0 float-end">
            <strong><button id="btn_imp" type="button" class="p-button-purple mt-0 " (click)="imprimir()" pButton
                pRipple label="Imprimir" style="height: 30px; border-radius: 5px;
                background: #1a82ce; color: aliceblue;">
              </button></strong>
          </span>

        </div>

        <!-- Inicio Modal Variaveis -->
        <form autocomplete="off" (submit)="submitForm()">
          <div class="col-sm-12">
            <app-ui-modal #modalVariavel [dialogClass]="'modal-lg'">

              <!-- Modal Body Inicio -->
              <div class="app-modal-body">

                <!-- Pesquisa Variavel -->
                <div class="row mb-3 ml-1">
                  <span class=" col-sm-6 mt-0">
                    <div class="p-inputgroup mb-1">
                      <button type="button"
                        style="height: 30px; width: 50px; cursor:default ; border-radius: 10px; border-bottom-right-radius: 0; border-top-right-radius: 0; border: 0; background:#1a82ce;"
                        pButton pRipple class=""> <i class="pi pi-search"></i></button>
                      <input class="form-control mb-1" [(ngModel)]="variavel" [ngModelOptions]="{standalone: true}"
                        type="text" placeholder="Pesquisar "
                        (input)="dtvariavel.filterGlobal($event.target.value, 'contains')"
                        style="height: 30px; min-width: 180px; width: 400px; border-radius: 10px; border-bottom-left-radius: 0; border-top-left-radius: 0; font-size: 14px; text-transform: lowercase">
                    </div>
                  </span>
                </div>

                <app-card [hidHeader]="true" cardTitle="" cardClass="card-border-c-purple  border-1">
                  <p-table #dtvariavel [value]="variaveis"
                    [globalFilterFields]="['nome', 'country.name', 'representative.name', 'status']" [lazy]="true"
                    responsiveLayout="stack" (onLazyLoad)="loadVariavelLazy($event)" [showCurrentPageReport]="true"
                    [totalRecords]="totalRegistros" showGridlines stripedRows
                    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros" [paginator]="true"
                    [rows]="linesPerPage" emptyMessage="Nenhum registro encontrado">

                    <ng-template pTemplate="header">
                      <tr>
                        <th class="col-data-content-4"
                          style="background: rgb(77, 83, 90); font-size: 13px ;color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-left-radius: 5px;">
                          <b>Variavel</b>
                        </th>
                        <th class="col-data-content-4"
                          style="background: rgb(77, 83, 90); font-size: 13px ;color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                          <b>Descrição da variável</b>
                        </th>
                        <th class="col-data-content-4"
                          style="background: rgb(77, 83, 90); font-size: 13px ;color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-right-radius: 5px;">
                          <b>Local</b>
                        </th>

                        <!-- <th class="col-acoes-header" style="background: rgb(77, 83, 90); font-size: 11px ;color: aliceblue;">
                          Ações</th> -->

                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-variavel>
                      <tr>
                        <td class="col-data-content-3 text-c-dark" style=" font-size: 13px"><b>{{
                            variavel.variavel }}</b>
                        </td>
                        <td class="col-data-content-3 " style=" font-size: 13px">{{ variavel.nome }}
                        <td class="col-data-content-3" style=" font-size: 13px">{{ variavel.local }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </app-card>


                <!-- Footer Modal  Variaveis  -->
                <div class="modal-footer py-1">
                  <button data-dismiss="modal" type="button" class=" mr-4 " pButton pRipple
                    (click)="modalVariavel.hide();" label="Fechar" style="width: 6em; height: 30px;
                    border-radius: 6px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                  </button>
                </div>
                <!-- <div class="form-group "></div>
                    <pre> {{separacaoForm.variaveis | json}} </pre> -->
              </div>
            </app-ui-modal>

          </div>
        </form>

        <!-- Fim Modal Variaveis -->

        <ckeditor [(ngModel)]="ckeditorContent" [config]="config" (change)="onChange($event)" (ready)="onReady($event)"
          (focus)="onFocus($event)" (blur)="onBlur($event)" formControlName="conteudo">
        </ckeditor>

        <!-- <section class="content">
          <div class="row clearfix">
            <label>CKeditor</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card-body">
                <ckeditor [(ngModel)]="ckeditorContent"  onblur="" name="editor" id="editor" formControlName="conteudo"></ckeditor>
              </div>
            </div>
          </div>
        </section><br> -->

        <!-- Quill Editor -->
        <!-- <section class="main-content">
          <div class="row">
            <label>Quill</label>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-body">
                  <quill-editor
                  [styles]="{'min-height': '240px'}" 
                  formControlName="conteudo"
                  [(ngModel)]="ckeditorContent"
                  >
                  </quill-editor>
                </div>
            </div>
          </div>
      </section> -->

      </div>

      <div class="row ">
        <!-- <div class="form-group ">
          <pre> {{modeloDocumentoForm.value | json}} </pre><br>
        </div> -->
      </div>
    </div>
  </form>