.aut-bg-img {
  background-image: url(../../../assets/images/auth/img-auth.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#togglePassword {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  ::ng-deep.datta-rtl & {
    right: auto;
    left: 15px;
  }
}
