<!-- Cards Estaticticas -->
<section class="main-content">

    <!-- <div class="card-border-c-blue row col-12 mb-3 border-2 shadow py-3 pb-0 m-l-0">
        <div class="form-group  align-items-center">
            <p-button (click)="marcaPresenteAusente('Presente')" class=" m-b-2 float-left" size="small"
                icon='pi pi-thumbs-up' label="Marca Presente" severity="success" />

            <p-button (click)="marcaPresenteAusente('Ausente')" class="mx-3" size="small" icon='pi pi-thumbs-down'
                label="Marca Ausente" severity="warn" />

            <p-button (click)="marcaPresenteAusente('Aguardando')" class=" m-b-1" size="small" icon='pi pi-question'
                label="Aguardando" severity="help" />


            <p-button (click)="marcaPresenteAusente('Presentes')" class="mx-3" size="small" icon='pi pi-check'
                label="Presentes" severity="success" />


            <p-button (click)="marcaPresenteAusente('Ausentes')" class=" mx-3" size="small" icon='pi pi-times'
                label="Ausentes" severity="danger" />
        </div>
    </div> -->

    <!-- Fim Cards Estaticticas -->

    <div class="card-border-c-blue row col-12 mb-3 border-2 shadow py-2 m-l-0">

        <span class="col-sm-2 mt-2 mb-2">
            <i class="fas fa-plus f-28 text-success"></i>    <p-button (click)="imodo=0; setData(); 
             setPageTitleFrequencias(); visibleLancamento = true;" severity="info" label="Lançamento" size="small" />
        </span>

        <!-- data -->
        <span class=" col-sm-2 mb-2 mt-2">
            <p-floatlabel variant="on">
                <p-datepicker (ngModelChange)="onCloseData($event)" [style]="{'width':'100%','height':'35px'}"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100" [showButtonBar]="true"
                    inputId="on_label" [showIcon]="true" dataType="string" dateFormat="dd/mm/yy" [(ngModel)]="data"
                    placeholder="dd/mm/aaaa" [ngModelOptions]="{standalone: true}" />
                <label for="on_label">Filtrar datas</label>
            </p-floatlabel>
        </span>

        <!-- Classe-->
        <span class="col-sm-4 mb-0 mt-2 mb-2 ">
            <p-floatlabel variant="on">
                <span class=" col-sm-3 mt-0 ">
                    <p-select style="min-height: 35px; width: 100%;" inputId=" on_label"
                        (onChange)="onChangeFrequencia($event)" [options]="classes" [editable]="false" [filter]="true"
                        filterBy="nome" [showClear]="false" optionLabel="nome" resetFilterOnHide="true" class=""
                        dropdownIcon="pi pi-users" optionValue="id" [autofocus]="false"
                        [(ngModel)]="classeSelecionada" />
                    <label class="" for="on_label">Filtrar classes</label>
                </span>
            </p-floatlabel>
        </span>

        <!-- <span class="col-sm-1"> </span> -->

        @if(totalRegistros){
        <span class="col-sm-2 mb-0 mt-2 ">
            <p-button
                (click)="loadDiarioClasses(); visibleDiario = true ; setPageTitleDiarioClasse() ; resetModalDiario()"
                [style]="{'height':'35px', 'width':'100%', 'border-radius':'6px', 'margin-left':'5px'}" size="small"
                class="float-end" label="Diário de Classe" icon="fas fa-book-reader" severity="info" />
        </span>
        }

        @if(!totalRegistros){
        <span class="col-sm-2 mb-0 mt-2 ">
            <p-button (click)="loadDiarioClasses(); visibleDiario = true"
                [style]="{'height':'35px', 'width':'100%', 'border-radius':'6px', 'margin-left':'10px'}" size="small"
                class="float-end" label="Diário de Classe" severity="info" />
        </span>
        }

        <span class=" col-sm-2 mb-2 mt-2">
            <p-splitButton class="float-end " label="Relatórios" icon="pi pi-print" [model]="printItems"
                severity="contrast" size="small"
                [style]="{'height':'35px',  'border-radius':'6px', 'margin-left':'10px'}" />
        </span>

    </div>

    <app-card [hidHeader]="true" cardTitle="" cardClass="card-border-c-blue shadow  border-1">
        <div class="p-0">
            <p-table #dtfrequencia [value]="frequencias"
                [globalFilterFields]="['nome', 'country.name', 'representative.name', 'status']" [lazy]="true"
                responsiveLayout="stack" (onLazyLoad)="loadFrequenciaLazy($event)" [showCurrentPageReport]="true"
                [totalRecords]="totalRegistros" showGridlines stripedRows [rowsPerPageOptions]="[10, 30, 50, 100]"
                currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros" [paginator]="true"
                [rows]="linesPerPage" emptyMessage="Nenhum registro encontrado" [loading]="loading()">


                <ng-template #header>
                    <tr>
                        <th class="col-date"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-left-radius: 5px">
                            <b>Data</b>
                        </th>
                        <th class="col-date"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Frequência</b>
                        </th>

                        <th class="f-12 col-data-content-4"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Aluno</b>
                        </th>

                        <th class="col-data-content-4"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Classe</b>
                        </th>

                        <th class="col-date"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Ano Letivo</b>
                        </th>

                        <th class="col-date"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-right-radius: 5px">
                            <b>Trimestre</b>

                    </tr>
                </ng-template>

                <ng-template #body let-frequencia>
                    <tr (click)="linhaClicadaFrequencia(frequencia)" [ngClass]="{'linha-destaque': frequencia.id}">
                        <td (click)="linhaClicadaFrequencia(frequencia)" class="col-date py-2"
                            style=" font-size: 13px; cursor: pointer;">{{ frequencia.data
                            }}
                        </td>

                        <!-- @if(linhaSelecionada == frequencia.id ){ -->
                        <td (click)="linhaClicadaFrequencia(frequencia)" class="col-date py-2"
                            style="font-size: 13px; cursor: pointer ">{{
                            frequencia.presente ? '✅ Presente' : '❌ Ausente'
                            }}</td>
                        <!-- } -->

                        <td (click)="linhaClicadaFrequencia(frequencia)" class="col-data-content-4 py-2"
                            style="font-size: 13px; cursor: pointer; ">{{
                            frequencia.nomeAluno
                            }}</td>

                        <td (click)="linhaClicadaFrequencia(frequencia)" class="col-data-content-4 py-2"
                            style=" font-size: 13px ; cursor: pointer;">{{ frequencia.nomeClasse }}
                        </td>

                        <td (click)="linhlinhaClicadaFrequenciaClicada(frequencia)" class="col-date py-2"
                            style=" font-size: 13px; cursor: pointer;">{{ frequencia.anoLetivo
                            }}
                        </td>

                        <td (click)="linhaClicadaFrequencia(frequencia)" class="col-date py-2"
                            style=" font-size: 13px; cursor: pointer;">{{ frequencia.trimestre + "º Trimestre"
                            }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </app-card>

    <!-- MODAL LANÇAMENTOS/FREQUENCIA INICIO -->
    <form [formGroup]="aulaForm" autocomplete="off" (submit)="submitAulaForm()">
         <p-dialog  [modal]="true" [(visible)]="visibleLancamento" [position]="position"
            [dismissableMask]="false" [style]="{width: '60vw', 'min-height': '50vh', height: 'auto'}"
            [closeOnEscape]="false" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false"
            [resizable]="false" > 
         
                <div class="card header mb-0 mt-0"
                    style="height: 2rem;">
                    <h4 class="f-24" style="color: black"><b>{{ pageTitle }}</b>
                    </h4>
                </div>


            <div class="app-modal-body ml-2 mr-2">

                <!-- Modal Body Inicio -->
                <div class="row ">

                    <!-- date-->
                    <span class=" col-sm-4 mb-1 ">
                        <label class="text-dark mb-1">Data de lançamento</label>
                        <p-datepicker (ngModelChange)="onCloseDataModal($event)"
                            [style]="{'width':'100%','height':'30px'}" [monthNavigator]="true" [yearNavigator]="true"
                            yearRange="1900:2100" [showButtonBar]="true" [showIcon]="true" inputId="icondisplay"
                            dataType="string" dateFormat="dd/mm/yy" formControlName="data" placeholder="dd/mm/aaaa" />
                    </span>

                    <!-- Lição -->
                    <div class="form-group col-md-2">
                        <label class="text-danger mb-1">Nº da Lição</label>
                        <input type="number" class="form-control" formControlName="licao">
                    </div>

                    <!-- Tema da Lição -->
                    <div class="form-group col-md-6 mb-0">
                        <label class="text-success mb-1">Tema da Lição</label>
                        <input type="text" style="text-transform: uppercase" class="form-control"
                            formControlName="tema">
                        @if (dataCheckedAula() && aulaForm.controls['tema'].value !== null) {
                        <p class="danger" [style]="{'font-size':'12px' }" margin-left>
                            Já existe lançamentos para esta data!</p>
                        }
                    </div>

                </div>

                <!-- INICIO TABLE CLASSE -->
                <div class="card-border-c-purple  border-0  " style="padding: 1px;">
                    <div class="mb-0">
                        <p-table #dtclasse [value]="classesModal" [globalFilterFields]="['nome']" [lazy]="true"
                            responsiveLayout="stack" (onLazyLoad)="loadClassesLazy($event)"
                            [showCurrentPageReport]="true" [totalRecords]="totalRegistrosModalClasse" showGridlines
                            stripedRows
                            currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
                            [paginator]="true" [rows]="linesPerPageModal" emptyMessage="Nenhum registro encontrado">



                            <ng-template #header>
                                <tr>
                                    <th class="col-data-100"
                                        style=" background: rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 4px; padding-bottom: 4px; border-top-left-radius: 5px;">
                                        <b>Código</b>
                                    </th>
                                    <th class=""
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 4px; padding-bottom: 4px; border-top-right-radius: 5px">
                                        <b>Nome</b>
                                    </th>

                                </tr>
                            </ng-template>

                            <ng-template #body let-classe>
                                <tr>
                                    <td class="col-data-100"
                                        style="font-size: 13px; padding-top: 4px; padding-bottom: 4px;">{{ classe.id }}
                                    </td>
                                    <td class="" style="font-size: 13px; padding-top: 4px; padding-bottom: 4px;">{{
                                        classe.nome }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <!-- FIM TABLE CLASSE -->

                <!-- Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  -->
                <div class="modal-footer py-1" style="height: 38px;">

                    <!-- Fechar -->
                    <button data-dismiss="modal" type="button" class=" mx-4 mb-2 " pButton pRipple
                        (click)="visibleLancamento = false" label="Fechar" style="width: 9em; height: 30px; font-size: small;
                          border-radius: 6px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                    </button>

                    <!-- Salvar -->
                    <strong><button [disabled]="aulaForm.invalid || dataCheckedAula() === true" type="submit"
                            class=" float-end mb-2" pButton pRipple label="Gerar"
                            style="width: 9em; border: 0;  background:#388669; height: 30px; border-radius: 6px; font-size: small; "
                            icon='pi pi-check'>
                        </button></strong>

                </div>

            </div>
        </p-dialog>


        <div class="col-md-12 col-xl-12" data-backdrop="static">

            <div class="card flex justify-center">
                <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visibleEscala" [position]="position"
                    [dismissableMask]="false" [style]="{width: '60vw', 'min-height': '40vh', height: 'auto'}"
                    [closeOnEscape]="false" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false"
                    [resizable]="false" [contentStyle]="{ 'overflow': 'visible' }">
                    <h5 class="align-center"><strong>{{ pageTitle +":    "}} <span class="text-primary f-16">{{
                                nomeClasse + "  "+
                                professoresDaClasse().length+ "  Professores" }} </span></strong></h5>
                    <hr class="mt-0 mb-2">

                    <!-- Modal Body Inicio -->

                    <div class="row col-12">
                        <div class="form-group col-md-8">
                            <label class="mb-1">Classes</label>
                            <p-select style="min-height: 30px; width: 100%" (onChange)="onClasseSelecionada($event)"
                                [options]="classes" [editable]="false" [filter]="true" filterBy="nome"
                                [showClear]="false" optionLabel="nome" resetFilterOnHide="true" class=""
                                dropdownIcon="pi pi-users" optionValue="id" placeholder="Seleciona uma classe" />
                        </div>

                        <!-- Data da Mes de referencia -->
                        <div class="form-group col-md-4 ">
                            <label class="mb-1">Data</label>
                            <p-datepicker (ngModelChange)="onCloseDataModalEscala($event)" view="year"
                                [style]="{'width':'100%','height':'30px'}" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1900:2100" [showButtonBar]="true" [showIcon]="true"
                                inputId="icondisplay" dataType="string" dateFormat="yy" formControlName="dataEscala"
                                placeholder="dd/mm/aaaa" />
                        </div>
                    </div>

                    <!-- Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  -->
                    <div class="modal-footer" style="height: 38px;">

                        <!-- Cancelar -->
                        <button (click)="limparModal(); visibleEscala = false" styleClass="p-button-sm" icon='pi pi-wallet'
                            style="width: 9em; height: 30px; border-radius: 5px; font-size: small;" pButton pRipple
                            type="button" label="Fechar" class="p-button-primary mx-3 p-button-outlined mt-1 ">
                        </button>

                        <!-- OK -->
                        <button [disabled]="this.frequenciaForm.controls['classeId'].value == null"
                            (click)="dataUS(); imprimirEscalaPronta()" styleClass="p-button-sm" icon='pi pi-check'
                            style="width: 9em; height: 30px; border-radius: 5px; font-size: small;" pButton pRipple
                            type="button" label="Imprimir" class="p-button-success  mt-1 ">
                        </button>
                    </div>
                    <!-- <hr class="mt-4"> -->
                </p-dialog>
            </div>

            <!-- FIM MODAL IMPRIMIR EBD -->
        </div>
        <!-- <div class="form-group ">
            <pre> {{ frequenciaForm.value | json}} </pre>
        </div> -->
    </form>

    <!-- MODAL FREQUENCIA FIM -->

    <!-- MODAL DIARIOCLASSE INICIO -->
 
    <!-- [contentStyle]="{ 'overflow': 'visible' }" --> 

    <form [formGroup]="diarioClasseForm" autocomplete="off" (submit)="submitFormDiarioClasse()">
        <p-dialog  [modal]="true" [(visible)]="visibleDiario" [position]="position"
            [dismissableMask]="false" [style]="{width: '70vw', 'min-height': '50vh', height: 'auto'}"
            [closeOnEscape]="false" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false"
            [resizable]="false" > 
         
                <div class="card header mb-0 mt-0"
                    style="height: 2rem;">
                    <h4 class="f-24" style="color: black"><b>{{ pageTitle }}</b>:     
                        <strong style="color: purple"><b><i>{{ diarioClasse.nomeClasse
                                    }}</i></b></strong>
                    </h4>
                </div>
        
            <div class="app-modal-body ">

                <div class="row ">
                    <!-- Modal Body Inicio -->
                    <div class="row ">

                        <p-fluid class="card flex flex-wrap mb-1">
                            <div class="row ">
                                <div class="form-group col-md-1 mb-0">
                                    <label class="text-danger mb-1">Nº Lição</label>
                                    <input readonly
                                        style="background-color: rgb(245, 246, 248); font-size: 12px; height: 32px;"
                                        type="text" class="form-control mb-0" formControlName="licao">
                                </div>

                                <!-- Tema da Lição -->
                                <div class="form-group col-md-4 mb-0 ">
                                    <label class="text-success  mb-1">Tema da Lição</label>
                                    <input readonly
                                        style="background-color: rgb(245, 246, 248); text-transform: uppercase; font-size: 12px; height: 32px;"
                                        type="text" class="form-control mb-2" formControlName="tema">
                                </div>

                                <!-- Matriculados -->
                                <div class="col-md-1">
                                    <label class="text-dark mb-1">Matriculados</label>
                                    <p-inputnumber formControlName="totalMatriculados" inputId="totalMatriculados"
                                        mode="decimal" locale="pt-BR" size="small" class="" [style]="{'height':'32px'}">
                                    </p-inputnumber>
                                    @if (diarioClasseForm.controls['totalMatriculados'].value > 1000) {
                                    <p class="danger" [style]="{'font-size':'12px' }" margin-left>
                                        Valor muito alto.</p>
                                    }
                                </div>


                                <!-- Ausentes -->
                                <div class="col-md-1">
                                    <label class="text-danger mb-1">Ausentes</label>
                                    <p-inputnumber formControlName="totalAusentes" inputId="totalAusentes"
                                        mode="decimal" locale="pt-BR" size="small" class="" [style]="{'height':'32px'}">
                                    </p-inputnumber>
                                    @if (diarioClasseForm.controls['totalAusentes'].value > 1000) {
                                    <p class="danger" [style]="{'font-size':'12px' }" margin-left>
                                        Valor muito alto.</p>
                                    }
                                </div>

                                <!-- Visitantes -->
                                <div class="col-md-1">
                                    <label class="text-c-yellow mb-1">Visitantes</label>
                                    <p-inputnumber formControlName="totalVisitantes" inputId="totalVisitantes"
                                        mode="decimal" locale="pt-BR" size="small" class="" [style]="{'height':'32px'}">
                                    </p-inputnumber>
                                    @if (diarioClasseForm.controls['totalVisitantes'].value > 1000) {
                                    <p class="danger" [style]="{'font-size':'12px' }" margin-left>
                                        Valor muito alto.</p>
                                    }
                                </div>

                                <!-- Bíblias -->
                                <div class="col-md-1">
                                    <label class="text-primary mb-1">Bíblias</label>
                                    <p-inputnumber formControlName="totalBiblias" inputId="totalBiblias" mode="decimal"
                                        locale="pt-BR" size="small" class="" [style]="{'height':'32px'}">
                                    </p-inputnumber>
                                    @if (diarioClasseForm.controls['totalBiblias'].value > 1000) {
                                    <p class="danger" [style]="{'font-size':'12px' }" margin-left>
                                        Valor muito alto.</p>
                                    }
                                </div>

                                <!-- Revistas -->
                                <div class="col-md-1">
                                    <label class="text-c-purple mb-1">Revistas</label>
                                    <p-inputnumber formControlName="totalRevistas" inputId="totalRevistas"
                                        mode="decimal" locale="pt-BR" size="small" class="" [style]="{'height':'32px'}">
                                    </p-inputnumber>
                                    @if (diarioClasseForm.controls['totalRevistas'].value > 1000) {
                                    <p class="danger" [style]="{'font-size':'12px' }" margin-left>
                                        Valor muito alto.</p>
                                    }
                                </div>

                                <div class="col-md-2">
                                    <label class="text-success mb-1">Ofertas R$</label>
                                    <p-inputnumber formControlName="totalOfertas" inputId="totalOfertas" mode="decimal"
                                        locale="pt-BR" size="small" class="" [minFractionDigits]="2"
                                        [style]="{'height':'32px'}">
                                    </p-inputnumber>
                                </div>
                            </div>
                        </p-fluid>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <!-- Salvar -->
                        <p-button [disabled]="diarioClasseForm.invalid" severity="success" type="submit"
                            class="float-end mb-1 m-t-0"
                            [style]="{'height':'32px', 'margin-left':'25px','margin-right':'20px', 'background':'#388669'}"
                            size="small" label="Salvar" icon='pi pi-check' />

                            <!-- Fechar -->
                        <p-button data-dismiss="modal" type="button" class="float-end ml-4 mb-2 " size="small"
                            (click)="limparModal(); visibleDiario = false" label="Fechar"
                            [style]="{'height':'32px', 'background':'#1a82ce'}" />

                        <!-- Imprimir -->
                        <p-button  icon='pi pi-print'
                            [style]="{'height':'32px', 'margin-right':'25px'}" size="small"
                            severity="contrast" label="Imprimir" class="float-end mb-1 m-t-0 " />
                        
                    </div>

                </div>

                <!-- INICIO TABLE DIARIO -->
                <div class="card  border-0 mb-0 " style="padding: 0px;">
                    <div class="mb-0">
                        <p-table #dtDiarioClasse [value]="diarioClasses" [globalFilterFields]="['nome']" [lazy]="true"
                            responsiveLayout="stack" (onLazyLoad)="loadDiarioClassesLazy($event)"
                            [showCurrentPageReport]="true" [totalRecords]="totalRegistrosModalDiario" showGridlines
                            stripedRows
                            currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
                            [paginator]="true" [rows]="linesPerPageModalDiario"
                            emptyMessage="Nenhum registro encontrado">

                            <ng-template #header>
                                <tr>
                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-left-radius: 5px">
                                        <b>Data</b>
                                    </th>
                                    <th class="col-data-content-4"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Classe</b>
                                    </th>

                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Matriculados</b>
                                    </th>

                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Ausentes</b>
                                    </th>

                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 12px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Presentes</b>
                                    </th>
                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Visitantes</b>
                                    </th>

                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Biblias </b>
                                    </th>

                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Revistas</b>
                                    </th>

                                    <th class="col-data-100"
                                        style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                                        <b>Ofertas</b>
                                    </th>
                                    <th class="col-acoes-header"
                                        style="font-size: 13px; background-color: rgb(77, 83, 90); color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-right-radius: 5px;">
                                        Ações
                                    </th>

                                </tr>
                            </ng-template>

                            <ng-template #body let-diarioClasse>
                                <tr (click)="linhaClicadaDiario(diarioClasse)"
                                    [ngClass]="{'linha-destaque': diarioClasse.id}">
                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-foto py-1"
                                        style="cursor: pointer; font-size: 13px">{{ diarioClasse.data
                                        }}
                                    </td>

                                    @if(linhaSelecionada !== diarioClasse.id ){
                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        class="col-data-content-3 py-1" (click)="loadDiarioClasse(diarioClasse)"
                                        style=" font-size: 13px; cursor: pointer">{{ diarioClasse.nomeClasse}}
                                    </td>
                                    }

                                    @if(linhaSelecionada == diarioClasse.id ){
                                    <td [style.color]="linhaSelecionada == diarioClasse.id ? 'green' : 'black'"
                                        class="col-data-content-3 py-1 text-white"
                                        (click)="loadDiarioClasse(diarioClasse)"
                                        style=" font-size: 13px; cursor: pointer; background-color: rgb(77, 83, 90); ">
                                        <i>{{
                                            diarioClasse.nomeClasse}}</i>
                                    </td>
                                    }

                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-data-100 py-1"
                                        style="cursor: pointer; font-size: 13px">{{
                                        diarioClasse.totalMatriculados
                                        }}
                                    </td>

                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-data-100 py-1"
                                        style="cursor: pointer; font-size: 13px">{{
                                        diarioClasse.totalAusentes
                                        }}
                                    </td>

                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-data-100 py-1"
                                        style="cursor: pointer; font-size: 13px">{{
                                        diarioClasse.totalPresentes
                                        }}
                                    </td>

                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-data-100 py-1"
                                        style="cursor: pointer; font-size: 13px">{{
                                        diarioClasse.totalVisitantes
                                        }}
                                    </td>
                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-data-100 py-1"
                                        style="cursor: pointer; font-size: 13px">{{
                                        diarioClasse.totalBiblias
                                        }}
                                    </td>
                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-data-100 py-1"
                                        style="cursor: pointer; font-size: 13px">{{
                                        diarioClasse.totalRevistas
                                        }}
                                    </td>
                                    <td [style.color]="diarioClasse.totalMatriculados !== null && diarioClasse.totalPresentes !== null ? 'green' : 'black'"
                                        (click)="loadDiarioClasse(diarioClasse)" class="col-data-100 py-1"
                                        style="cursor: pointer; font-size: 13px">{{
                                        diarioClasse.totalOfertas | currency:' '
                                        }}
                                    </td>
                                    <td class="col-acoes-header py-1">
                                        <button (click)="loadDiarioClasse(diarioClasse)" type="button"
                                            class="btn btn-icon btn-outline-info p-0 mt-0 mb-0"
                                            [style]="{'height': '25px', 'width': '25px'} " [placement]="'left'"
                                            ngbTooltip="Editar">
                                            <i class="pi pi-chevron-up"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <!-- FIM TABLE DIARIO -->

                <!-- <div class="form-group ">
                    <pre> {{ diarioClasseForm.value | json}} </pre>
                </div> -->
            </div>
           </p-dialog>

            <!-- SESSAO IMPRIMIR EBD - MODAL -->
    </form>
    <!-- MODAL DIARIOCLASSE FIM -->

</section>