<!-- Inicio Breadcamb Inicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio Breadcamb-->
<section class="main-content">
    <div class="page-header">
        <ul class="breadcrumb breadcrumb-style mt-0 mb-2">
            <li class="breadcrumb-item">
                <h5 class="page-title m-b-0">Disciplina</h5>
            </li>
            <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/default">
                    <i class="fas fa-home f-17"></i></a>
            </li>
            <li class="breadcrumb-item">Disciplina</li>
        </ul>
        <!-- fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb -->

        <!-- Inicio Botões-->
        <ng-container style="height: 100;">
            <form [formGroup]="disciplinaForm" autocomplete="off" (submit)="submitForm()">
                <div class="row">
                    <!-- Botões Inicio-->
                    <div class="">
                        <span class="float-end  mb-2 ">
                            @if(currentAction !== 'new'){
                            <p-button type="button" (click)="exclusaoDisciplina(disciplina)"
                                [style]="{'height':'30px', 'margin-left':'10px'}" size="small" icon='pi pi-times'
                                variant="outlined" severity="danger" label="Excluir" class="" />
                            }
                        </span>


                        <span class="float-end mb-2 ml-4">
                            <p-button [disabled]="submittingForm || disciplinaForm.invalid" type="submit" class="mr-4"
                                [style]="{'height':'30px', 'margin-left':'10px'}" size="small" label="Salvar"
                                icon='pi pi-check' />
                        </span>

                        <span class="float-end mb-2">
                            <p-button routerLink="/disciplinas" icon='pi pi-chevron-left'
                                [style]="{'height':'30px', 'margin-left':'10px'}" size="small" severity="info"
                                label="voltar" class=" mt-0" label="Voltar" />
                        </span>
                    </div>
                    <!-- Botões Fim-->

                    <div class="col-sm-12">
                        <div class="card  px-3  py-3  shadow pt-0 px-0 ">
                            <nav aria-label="breadcrumb" class=" ">
                                <div class="form-group row col-sm-12  mb-4 ">
                                    <div class="card mb-0 px-3 py-1 mx-0 "
                                        style="background-color: rgb(77, 83, 90); border-radius: 5px; margin-left: 12px">
                                        <span class=" text-white py-0 " style="font-size: 18px; ">{{ pageTitle
                                            }}</span>
                                    </div>
                                </div>
                            </nav>
                            <div class="form-group ">
                                <div class="col-lg-8">
                                    <div class="row mb-3">
                                        <label class="col-lg-2 col-form-label text-lg-end px-lg-0">Codigo:</label>
                                        <div class="col-lg-3">
                                            <input readonly formControlName="id" type="text"
                                                class="form-control form-control-sm  mt-1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row mb-3">
                                        <label class="col-lg-2 col-form-label text-lg-end px-lg-0">Nome:</label>
                                        <div class="col-lg-6">
                                            <input type="text" formControlName="nome"
                                                class="form-control form-control-sm mt-1 " placeholder="Nome" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Tipo Admin do sistema -->
                                @if(perfil == 'ADMIN'){
                                <div class="col-lg-8">
                                    <div class="row">
                                        <label class="col-lg-2 col-form-label text-lg-end ">Tipo:</label>
                                        <div class="col-lg-6">
                                            <p-select [style]="{'width':'100%','height':'35px'}" class="w-full md  mb-2"
                                                formControlName="tipo" [options]="tipos" [editable]="false"
                                                [filter]="false" filterBy="nome" [showClear]="false" optionLabel="nome"
                                                resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down"
                                                [autofocus]="false" optionValue="nome" placeholder=""
                                                (onChange)="onChangeTipoPadraoIgreja($event)">
                                            </p-select>
                                            <span class="text-mutted">Igreja: Visivel a Igreja especifica</span><br>
                                            <span class="text-mutted">Padrao: Visivel a todas as Igrejas </span>

                                        </div>
                                    </div>
                                </div>
                                }
                            </div>

                        </div>
                    </div>
                    <!-- <div class="row ">
          <div class="form-group ">
              <pre> {{disciplinaForm.value | json}} </pre><br>
          </div>
      </div> -->
                </div>
            </form>
        </ng-container>
    </div>
</section>