<!-- Cards Estaticticas -->
<section class="main-content">

    <!-- Fim Cards Estaticticas -->

    <div class="card-border-c-blue row col-12 mb-2 border-2 shadow py-2 m-l-0">

        <span class="col-sm-10 mt-2 mb-1">
            <p-button class="float-end " icon="pi pi-plus" (click)="imodo=0; visibleLancamentoCargo = true;"
                severity="success" label=" Novo    " size="small" />
        </span>

        <span class=" col-sm-2 mb-1 mt-2">
            <p-splitButton class="float-end " label="Relatórios" icon="pi pi-print" [model]="printItems"
                severity="contrast" size="small"
                [style]="{'height':'35px',  'border-radius':'6px', 'margin-left':'10px'}" />
        </span>

    </div>

    <app-card [hidHeader]="true" cardTitle="" cardClass="card-border-c-blue shadow  border-1">
        <div class="p-0">
            <p-table #dtLancamentoCargo [value]="lancamentoCargos()"
                [globalFilterFields]="['nome', 'country.name', 'representative.name', 'status']"
                responsiveLayout="stack" [showCurrentPageReport]="true" showGridlines stripedRows
                [rowsPerPageOptions]="[10, 30, 50, 100]"
                currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros" [paginator]="true"
                [rows]="10" emptyMessage="Nenhum registro encontrado">


                <ng-template #header>
                    <tr>

                        <th class="f-12 col-data-content-4"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Aluno</b>
                        </th>

                        <th class="col-data-100 py-2"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px">
                            <b>Data</b>
                        </th>
                        <th class="col-date"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Frequência</b>
                        </th>

                        <th class="col-data-content-4"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Classe</b>
                        </th>

                        <th class="col-date"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                            <b>Ano Letivo</b>
                        </th>

                        <th class="col-date"
                            style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-right-radius: 5px">
                            <b>Trimestre</b>

                    </tr>
                </ng-template>

                <ng-template #body let-frequencia>
                    <tr>
                        <td class="col-data-content-4 py-2" style="font-size: 13px; cursor: pointer; ">{{
                            frequencia.nomeAluno
                            }}</td>

                        <td class="col-date py-2" style=" font-size: 13px; cursor: pointer;">{{ frequencia.data
                            }}
                        </td>

                        @if(frequencia.presente === true){
                        <td class="col-date py-2 status-presente" style="font-size: 13px; cursor: pointer ">{{
                            frequencia.presente === true ? '✅ Presente' :''
                            }}</td>
                        }

                        @if(frequencia.presente === false){
                        <td class="col-date py-2 status-ausente" style="font-size: 13px; cursor: pointer ">{{
                            frequencia.presente === false ? '❌ Ausente' :''
                            }}</td>
                        }

                        <td class="col-data-content-4 py-2" style=" font-size: 13px ; cursor: pointer;">{{
                            frequencia.nomeClasse }}
                        </td>

                        <td class="col-date py-2" style=" font-size: 13px; cursor: pointer;">{{ frequencia.anoLetivo
                            }}
                        </td>

                        <td class="col-date py-2" style=" font-size: 13px; cursor: pointer;">{{ frequencia.trimestre +
                            "º Trimestre"
                            }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </app-card>

    <!-- MODAL LANÇAMENTOS/CARGO INICIO -->

    <form [formGroup]="lancamentoCargoForm" autocomplete="off" (submit)="submitForm()">
        <div class="col-md-12 col-xl-12" data-backdrop="static">

            <div class="card flex justify-center">
                <p-dialog header="Cargos Departamentais" [modal]="true" [(visible)]="visibleLancamentoCargo"
                    [position]="positionLancamentoCargo" [dismissableMask]="false"
                    [style]="{width: '40vw', 'min-height': '30vh', height: 'auto'}" [closeOnEscape]="false"
                    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false"
                    [contentStyle]="{ 'overflow': 'visible' }" [transitionOptions]="'500ms ease-out'">
                    <hr class="mt-1 mb-2">
                    <!-- Modal Body Inicio -->
                    <div class="row ">

                        <!-- Departamento-->
                        <span class="col-sm-12 mb-0 mt-2 mb-1 ">
                            <label class="mb-1">Departamento</label>
                            <span class=" col-sm-3 mt-0 ">
                                <p-select style="min-height: 35px; width: 100%;" (onChange)="onChangePessoas()"
                                    [options]="departamentos()" [editable]="false" [filter]="true" filterBy="nome"
                                    [showClear]="false" optionLabel="nome" resetFilterOnHide="true" class=""
                                    dropdownIcon="pi pi-server" optionValue="id" [autofocus]="false" />
                            </span>

                        </span>

                        <!-- Cargo-->
                        <span class="col-sm-12 mb-0 mt-2 mb-1 ">
                            <label class="mb-1">Cargo</label>
                            <span class=" col-sm-3 mt-0 ">
                                <p-select style="min-height: 35px; width: 100%;" (onChange)="onChangePessoas()"
                                    [options]="cargos()" [editable]="false" [filter]="true" filterBy="nome"
                                    [showClear]="false" optionLabel="nome" resetFilterOnHide="true" class=""
                                    dropdownIcon="pi pi-cog" optionValue="id" [autofocus]="false" />
                            </span>

                        </span>

                        <!-- Membro-->
                        <span class="col-sm-12 mb-0 mt-2 mb-3 ">
                            <label class="mb-1">Membro</label>
                            <span class=" col-sm-3 mt-0 ">
                                <p-select style="min-height: 35px; width: 100%;" (onChange)="onChangePessoas()"
                                    [options]="pessoas()" [editable]="false" [filter]="true" filterBy="nome"
                                    [showClear]="false" optionLabel="nome" resetFilterOnHide="true" class=""
                                    dropdownIcon="pi pi-user" optionValue="id" [autofocus]="false" />
                            </span>

                        </span>

                    </div>

                    <hr class="mt-1 mb-2">

                    <!-- Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  -->
                    <div class="modal-footer py-1" style="height: 38px;">

                        <!-- Fechar -->
                        <button data-dismiss="modal" type="button" class=" mx-4 mb-2 " pButton pRipple
                            (click)="visibleLancamentoCargo = false" label="Fechar" style="width: 9em; height: 30px; font-size: small;
                          border-radius: 6px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                        </button>

                        <!-- Salvar -->
                        <strong><button type="submit" class=" float-end mb-2" pButton pRipple label="Gerar"
                                style="width: 9em; border: 0;  background:#388669; height: 30px; border-radius: 6px; font-size: small; "
                                icon='pi pi-check'>
                            </button></strong>

                    </div>
                </p-dialog>
            </div>
        </div>

    </form>
</section>