<div class="row">
    <div class="col-md-12 col-xl-6">
        <app-card [hidHeader]="true" cardTitle="" cardClass="shadow">

            <!-- Contas - Inicio -->
            <h5 class="mt-0 mb-2 f-15" style="padding-bottom: 4px; ">Contas</h5>
            <hr class="mb-3">

            <!-- Pesquisa Contas -->
            <div class="row mb-2">
                <span class=" col-sm-6 mt-0 mb-2">
                    <p-inputgroup>
                        <button type="button" style="height: 30px; cursor:default ; border-radius: 6px; border-bottom-right-radius:0;
               border-top-right-radius: 0; border: 0; background:rgb(237, 237, 237);" pButton pRipple class=""> <i
                                class="pi pi-search text-dark"></i></button>
                        <input pInputText class="form-control " placeholder="Pesquisar " [(ngModel)]="nomeConta"
                            type="text" [ngModelOptions]="{standalone: true}"
                            (input)="dtconta.filterGlobal($event.target?.addEventListener, 'contains')" style="height: 30px; min-width: 180px; border-radius: 6px; border-bottom-left-radius: 0; 
              border-top-left-radius: 0; font-size: 14px; text-transform: lowercase">
                    </p-inputgroup>
                </span>

                <!-- Botão Nova Conta -->
                <span class="col-sm-6">
                    <button (click)="modalConta.show(); setModalInclusaoConta(); imodo=0"
                        class="btn btn-icon  btn-outline-success p-0 float-end" type="button"
                        [style]="{'height':'30px', 'width':'8rem', 'font-size':'13px', 'border-radius':'5px'}">Nova
                        conta</button>
                </span>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="mb-3 ">
                            <div class="">
                                <p-table #dtconta [value]="contas" [globalFilterFields]="['nome']" [lazy]="true"
                                    responsiveLayout="stack" (onLazyLoad)="loadContasLazy($event)"
                                    [showCurrentPageReport]="true" [totalRecords]="totalRegistrosConta"
                                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                                    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
                                    [paginator]="true" [rows]="linesPerPageConta"
                                    emptyMessage="Nenhum registro encontrado">


                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="col-data-50 py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-left-radius: 5px">
                                                <b></b>
                                            </th>
                                            <th class="col-data-150 py-1"
                                                style="font-size: 13px; background-color:rgb(77, 83, 90); color: aliceblue;">
                                                <b>Nome</b>
                                            </th>
                                            <th class="col-data-150 py-1"
                                                style="background: rgb(77, 83, 90); font-size: 13px ;color: aliceblue;">
                                                <b>Número</b>
                                            </th>
                                            <th class="col-data-150 py-1"
                                                style="background: rgb(77, 83, 90); font-size: 13px ;color: aliceblue;">
                                                <b>Banco</b>
                                            </th>
                                            <th class="col-acoes-heade py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-right-radius: 5px">
                                            </th>

                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-conta let-columns="columns">
                                        <tr>
                                            <td class="col-data-50 py-1" style=" font-size: 13px">{{ conta.id }}</td>
                                            <td class="col-data-150 py-1" style=" font-size: 13px">{{ conta.nome }}</td>
                                            <td class="col-data-150 py-1" style=" font-size: 13px;">{{ conta.numero
                                                }}<br>
                                            </td>
                                            <td class="col-data-150 py-1" style=" font-size: 13px;">{{ conta.banco
                                                }}<br>
                                            </td>

                                            <td class="col-acoes-header py-1">
                                                <button (click)="modalConta.show(); loadConta(conta); 
                                                    setModalEdicao(); imodo=1" type="button"
                                                    class="btn btn-icon  btn-outline-success p-1 mb-0 mt-0"
                                                    [style]="{'height': '26px', 'width': '26px'} " [placement]="'top'"
                                                    ngbTooltip="Editar">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contas Fim -->
        </app-card>
    </div>


    <!-- CENTRO CUSTO  CENTRO CUSTO CENTRO CUSTO CENTRO CUSTO CENTRO CUSTO CENTRO CUSTO -->

    <div class="col-md-12 col-xl-6">
        <app-card [hidHeader]="true" cardTitle="" cardClass="shadow">
            <!-- CentroCustos - Inicio -->
            <h5 class="mt-0 mb-2 f-15" style="padding-bottom: 4px; ">Centro de Custos</h5>
            <hr class="mb-3">

            <!-- Pesquisa CentroCusto -->
            <div class="row mb-2">
                 <span class=" col-sm-6 mt-0 mb-2">
                    <p-inputgroup>
                        <button type="button" style="height: 30px; cursor:default ; border-radius: 6px; border-bottom-right-radius:0;
               border-top-right-radius: 0; border: 0; background:rgb(237, 237, 237);" pButton pRipple class=""> <i
                                class="pi pi-search text-dark"></i></button>
                        <input pInputText class="form-control " placeholder="Pesquisar " [(ngModel)]="nomeCentroCusto"
                            type="text" [ngModelOptions]="{standalone: true}"
                            (input)="dtcentrocusto.filterGlobal($event.target?.addEventListener, 'contains')" style="height: 30px; min-width: 180px; border-radius: 6px; border-bottom-left-radius: 0; 
              border-top-left-radius: 0; font-size: 14px; text-transform: lowercase">
                    </p-inputgroup>
                </span>

                <!--Fim pesquisa CentroCusto  -->

                <!-- Botão Novo CentroCusto -->
                <span class="col-sm-6">
                    <button (click)="modalCentroCusto.show(); setModalInclusaoCentroCusto(); imodo=0"
                        class="btn btn-icon  btn-outline-success p-0 float-end" type="button"
                        [style]="{'height':'30px', 'width':'12rem', 'font-size':'13px', 'border-radius':'5px'}">Novo
                        Centro de Custo
                    </button>
                </span>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="mb-3 ">
                            <div class="">
                                <p-table #dtcentrocusto [value]="centroCustos" responsiveLayout="scroll"
                                    [globalFilterFields]="['nome', 'tipo', 'centroCusto.igrejaId']" [lazy]="true"
                                    (onLazyLoad)="loadCentroCustosLazy($event)" [showCurrentPageReport]="true"
                                    [totalRecords]="totalRegistrosCentroCusto"
                                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                                    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
                                    [paginator]="true" [rows]="linesPerPageCentroCusto"
                                    emptyMessage="Nenhum registro encontrado">

                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th class="col-data-50 py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-left-radius: 5px">
                                                <b></b>
                                            </th>
                                            <th class="py-1"
                                                style="font-size: 13px; background-color:rgb(77, 83, 90); color: aliceblue;">
                                                <b>Nome</b>
                                            </th>
                                            <th class="col-acoes-header py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-right-radius: 5px">
                                            </th>

                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-centroCusto let-columns="columns">
                                        @if(perfil !== 'ADMIN' && (centroCusto.igrejaId == igrejaId ||
                                        centroCusto.igrejaId == null)){
                                        <tr>
                                            <td class="col-data-50 py-1" style=" font-size: 13px">{{ centroCusto.id }}
                                            </td>
                                            <td class="py-1" style=" font-size: 13px">{{ centroCusto.nome }}</td>
                                            <td class="col-acoes-header py-1">

                                                @if(perfil !== 'ADMIN' && (centroCusto.igrejaId == igrejaId )) {
                                                <button (click)="modalCentroCusto.show(); loadCentroCusto(centroCusto); 
                                                    setModalEdicao(); imodo=1" type="button"
                                                    class="btn btn-icon  btn-outline-success p-1 mb-0 mt-0"
                                                    [style]="{'height': '26px', 'width': '26px'} " [placement]="'top'"
                                                    ngbTooltip="Editar">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                                }
                                            </td>
                                        </tr>
                                        }

                                        @if(perfil == 'ADMIN'){
                                        <tr>
                                            <td class="col-data-50 py-1" style=" font-size: 13px">{{ centroCusto.id }}
                                            </td>
                                            <td class="py-1" style=" font-size: 13px;">{{ centroCusto.nome }}<br></td>

                                            <td class="col-acoes-header py-1">
                                                <button (click)="modalCentroCusto.show(); loadCentroCusto(centroCusto); 
                                                    setModalEdicao(); imodo=1" type="button"
                                                    class="btn btn-icon btn-outline-success p-1 mb-0 mt-0"
                                                    [style]="{'height': '26px', 'width': '26px'} " [placement]="'top'"
                                                    ngbTooltip="Editar">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        }
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- centroCusto Fim -->
        </app-card>
    </div>
    

    <!-- CATEGORIAS  CATEGORIAS CATEGORIAS CATEGORIAS CATEGORIAS CATEGORIAS -->

    <div class="col-md-12 col-xl-6">
        <app-card [hidHeader]="true" cardTitle="" cardClass="shadow">
            <!-- Categorias - Inicio -->
            <h5 class="mt-0 mb-2 f-15" style="padding-bottom: 4px; ">Categorias</h5>
            <hr class="mb-3">

            <!-- Pesquisa Categorias -->
            <div class="row mb-2">
                    <span class=" col-sm-6 mt-0 mb-2">
                    <p-inputgroup>
                        <button type="button" style="height: 30px; cursor:default ; border-radius: 6px; border-bottom-right-radius:0;
               border-top-right-radius: 0; border: 0; background:rgb(237, 237, 237);" pButton pRipple class=""> <i
                                class="pi pi-search text-dark"></i></button>
                        <input pInputText class="form-control " placeholder="Pesquisar " [(ngModel)]="nomeCategoria"
                            type="text" [ngModelOptions]="{standalone: true}"
                            (input)="dtcategoria.filterGlobal($event.target?.addEventListener, 'contains')" style="height: 30px; min-width: 180px; border-radius: 6px; border-bottom-left-radius: 0; 
              border-top-left-radius: 0; font-size: 14px; text-transform: lowercase">
                    </p-inputgroup>
                </span>


                <!--Fim pesquisa Categorias  -->

                <!-- Botão Nova Categoria -->
                <span class="col-sm-6">
                    <button (click)="modalCategoria.show(); setModalInclusaoCategoria(); imodo=0"
                        class="btn btn-icon  btn-outline-success p-0 float-end" type="button"
                        [style]="{'height':'30px', 'width':'8rem', 'font-size':'13px', 'border-radius':'5px'}">Nova
                        categoria</button>
                </span>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="mb-3 ">
                            <div class="">
                                <p-table #dtcategoria [value]="categorias" responsiveLayout="scroll"
                                    [globalFilterFields]="['nome', 'tipo', 'categoria.igrejaId']" [lazy]="true"
                                    (onLazyLoad)="loadCategoriasLazy($event)" [showCurrentPageReport]="true"
                                    [totalRecords]="totalRegistrosCategoria"
                                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                                    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
                                    [paginator]="true" [rows]="linesPerPageCategoria"
                                    emptyMessage="Nenhum registro encontrado">

                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th class="col-data-50 py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-left-radius: 5px">
                                                <b></b>
                                            </th>
                                            <th class="py-1"
                                                style="font-size: 13px; background-color:rgb(77, 83, 90); color: aliceblue;">
                                                <b>Nome</b>
                                            </th>
                                            <th class="col-data-100 py-1"
                                                style="background: rgb(77, 83, 90); font-size: 13px ;color: aliceblue;">
                                                <b>Tipo</b>
                                            </th>
                                            <th class="col-acoes-header py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-right-radius: 5px">
                                            </th>

                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-categoria let-columns="columns">

                                        @if(perfil !== 'ADMIN' && (categoria.igrejaId == igrejaId || categoria.igrejaId
                                        == null)){
                                        <tr>
                                            <td class="col-data-50 py-1" style=" font-size: 13px">{{ categoria.id }}
                                            </td>
                                            <td class="py-1" style=" font-size: 13px">{{ categoria.nome }}</td>
                                            <td class="col-data-100 py-1" style=" font-size: 13px;">{{ categoria.tipo
                                                }}<br>
                                            </td>
                                            <td class="col-acoes-header py-1">

                                                @if(perfil !== 'ADMIN' && (categoria.igrejaId == igrejaId )){
                                                <button (click)="modalCategoria.show(); loadCategoria(categoria); 
                                                    setModalEdicao(); imodo=1" type="button"
                                                    class="btn btn-icon  btn-outline-success p-1 mb-0 mt-0"
                                                    [style]="{'height': '26px', 'width': '26px'} " [placement]="'top'"
                                                    ngbTooltip="Editar">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                                }
                                            </td>
                                        </tr>
                                        }

                                        @if(perfil == 'ADMIN'){
                                        <tr>
                                            <td class="col-data-50 py-1" style=" font-size: 13px">{{ categoria.id }}
                                            </td>
                                            <td class="py-1" style=" font-size: 13px;">{{ categoria.nome }}<br></td>
                                            <td class="col-data-100 py-1" style=" font-size: 13px;">{{ categoria.tipo
                                                }}<br>
                                            </td>
                                            <td class="col-acoes-header py-1">
                                                <button (click)="modalCategoria.show(); loadCategoria(categoria); 
                                                    setModalEdicao(); imodo=1" type="button"
                                                    class="btn btn-icon btn-outline-success p-1 mb-0 mt-0"
                                                    [style]="{'height': '26px', 'width': '26px'} " [placement]="'top'"
                                                    ngbTooltip="Editar">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        }
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categorias Fim -->
        </app-card>
    </div>


    <!-- FORMA  FORMA FORMA FORMA FORMA FORMA FORMA FORMA FORMA FORMA FORMA -->

    <div class="col-md-12 col-xl-6">
        <app-card [hidHeader]="true" cardTitle="" cardClass="shadow">
            <!-- Formas - Inicio -->
            <h5 class="mt-0 mb-2 f-15" style="padding-bottom: 4px; ">Formas de Contribuição</h5>
            <hr class="mb-3">

            <!-- Pesquisa Formas -->
            <div class="row mb-2">
                   <span class=" col-sm-6 mt-0 mb-2">
                    <p-inputgroup>
                        <button type="button" style="height: 30px; cursor:default ; border-radius: 6px; border-bottom-right-radius:0;
               border-top-right-radius: 0; border: 0; background:rgb(237, 237, 237);" pButton pRipple class=""> <i
                                class="pi pi-search text-dark"></i></button>
                        <input pInputText class="form-control " placeholder="Pesquisar " [(ngModel)]="nomeForma"
                            type="text" [ngModelOptions]="{standalone: true}"
                            (input)="dtforma.filterGlobal($event.target?.addEventListener, 'contains')" style="height: 30px; min-width: 180px; border-radius: 6px; border-bottom-left-radius: 0; 
              border-top-left-radius: 0; font-size: 14px; text-transform: lowercase">
                    </p-inputgroup>
                </span>

                <!--Fim pesquisa forma  -->

                <!-- Botão Nova forma -->
                <span class="col-sm-6">
                    <button (click)="modalForma.show(); setModalInclusaoForma(); imodo=0"
                        class="btn btn-icon  btn-outline-success p-0 float-end" type="button"
                        [style]="{'height':'30px', 'width':'12rem', 'font-size':'13px', 'border-radius':'5px'}">Nova
                        forma
                    </button>
                </span>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="mb-3 ">
                            <div class="">
                                <p-table #dtforma [value]="formas" responsiveLayout="scroll"
                                    [globalFilterFields]="['nome','tipo', 'forma.igrejaId']" [lazy]="true"
                                    (onLazyLoad)="loadFormasLazy($event)" [showCurrentPageReport]="true"
                                    [totalRecords]="totalRegistrosForma"
                                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                                    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
                                    [paginator]="true" [rows]="linesPerPageForma"
                                    emptyMessage="Nenhum registro encontrado">

                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th class="col-data-50 py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; ; border-top-left-radius: 5px">
                                                <b></b>
                                            </th>
                                            <th class="py-1"
                                                style="font-size: 13px; background-color:rgb(77, 83, 90); color: aliceblue;">
                                                <b>Nome</b>
                                            </th>
                                            <th class="col-acoes-header py-1"
                                                style=" background-color:rgb(77, 83, 90); font-size: 13px ; color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-right-radius: 5px">
                                            </th>

                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-forma let-columns="columns">
                                        @if(perfil !== 'ADMIN' && (forma.igrejaId == igrejaId || forma.igrejaId ==
                                        null)){
                                        <tr>
                                            <td class="col-data-50 py-1" style=" font-size: 13px">{{ forma.id }}
                                            </td>
                                            <td class="py-1" style=" font-size: 13px">{{ forma.nome }}</td>
                                            <td class="col-acoes-header py-1">

                                                @if(perfil !== 'ADMIN' && (forma.igrejaId == igrejaId )){
                                                <button (click)="modalForma.show(); loadForma(forma); 
                                                        setModalEdicao(); imodo=1" type="button"
                                                    class="btn btn-icon  btn-outline-success p-1 mb-0 mt-0"
                                                    [style]="{'height': '26px', 'width': '26px'} " [placement]="'top'"
                                                    ngbTooltip="Editar">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                                }
                                            </td>
                                        </tr>
                                        }

                                        @if(perfil == 'ADMIN'){
                                        <tr>
                                            <td class="col-data-50 py-1" style=" font-size: 13px">{{ forma.id }} </td>
                                            <td class="py-1" style=" font-size: 13px;">{{ forma.nome }}<br></td>

                                            <td class="col-acoes-header py-1">
                                                <button (click)="modalForma.show(); loadForma(forma); 
                                                        setModalEdicao(); imodo=1" type="button"
                                                    class="btn btn-icon btn-outline-success p-1 mb-0 mt-0"
                                                    [style]="{'height': '26px', 'width': '26px'} " [placement]="'top'"
                                                    ngbTooltip="Editar">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        }
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- centroCusto Fim -->
        </app-card>
    </div>

    <!-- FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM  -->

    <!-- FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM FIM LISTAGEM  -->




    <!-- INICIO MODAIS INICIO MODAIS INICIO MODAIS INICIO MODAIS INICIO MODAIS INICIO MODAIS INICIO MODAIS -->

    <!-- MODAL CONTAS INICIO -->
    <form [formGroup]="contaForm" autocomplete="off" (submit)="submitFormConta()">
        <div class="col-sm-12">
            <app-ui-modal #modalConta [dialogClass]="'modal-lg'">
                <div class="app-modal-header ">
                    <div class="card ml-2 mr-2"
                        style="width: 46rem; height: 1rem; background: #fcfdfd; padding-bottom: 10px; padding-top: 5px">
                        <ol class="breadcrumb ">
                            <h5 class="modal-title text-dark">{{ pageTitle }}</h5>
                        </ol>
                    </div>
                </div>

                <div class="app-modal-body">

                    <!-- Modal Body Inicio -->
                    <div class="row ml-2 mr-2">
                        <!-- Id -->
                        <div class="form-group col-md-2">
                            <label for="dataSeparacao">Código</label>
                            <input readonly type="text" class="form-control" formControlName="id">
                        </div>

                        <!-- Nome -->
                        <div class="form-group col-md-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" formControlName="nome">
                            <!-- style="text-transform: uppercase" -->
                        </div>

                        <!-- Tipo Conta -->
                        <div class="form-group col-md-4">
                            <label>Tipo de Conta</label>
                            <p-select class="w-full md  mb-2" formControlName="tipo" [options]="tipoConta"
                                [editable]="false" [filter]="false" filterBy="nome" [showClear]="false"
                                optionLabel="nome" resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down"
                                [autofocus]="false" optionValue="nome" placeholder="Selecione...">
                            </p-select>
                        </div>

                        <!-- Banco -->
                        <div class="form-group col-md-4">
                            <label>Banco</label>
                            <input type="text" class="form-control" formControlName="banco">
                        </div>

                        <!-- Agencia -->
                        <div class="form-group col-md-4">
                            <label>Agencia</label>
                            <input type="text" class="form-control" formControlName="agencia">
                        </div>

                        <!-- Numero -->
                        <div class="form-group col-md-4">
                            <label>Número</label>
                            <input type="text" class="form-control" formControlName="numero">
                        </div>

                        <!-- Saldo Inicial -->
                        <div class="form-group col-md-4">
                            <label>Saldo Inicial R$</label>
                            <p-inputNumber formControlName="saldoInicial" inputId="saldoInicial" mode="decimal"
                                locale="pt-BR" [minFractionDigits]="2"
                                [style]="{'width':'100%','height':'30px', 'border-radius':'10px'}"> </p-inputNumber>
                        </div>
                        @if(contaForm.controls['saldoInicial'].errors){
                        <p class="danger" [style]="{'font-size':'12px' }" margin-left>Informe um valor.</p>
                        }
                    </div>

                    <!-- Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  -->
                    <div class="modal-footer">

                        @if(contaForm.controls['id'].value > 0){
                        <button type="button" pButton pRipple
                            (click)="exclusaoConta(conta); modalConta.hide(); resetModalConta()"
                            styleClass="p-button-sm" icon='pi pi-times'
                            style="width: 7em; height: 30px; border-radius: 6px;" pButton pRipple label="Excluir"
                            class="p-button-danger ml-2 p-button-outlined ">
                        </button>
                        }

                        <button data-dismiss="modal" type="button" class=" ml-4" pButton pRipple (click)="modalConta.hide();
                        resetModalConta()" label="Fechar" style="width: 7em; height: 30px; font-size: small;
                        border-radius: 6px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                        </button>

                        <strong><button (click)="modalConta.hide()" [disabled]="contaForm.invalid" type="submit"
                                class=" mr-5 ml-4" pButton pRipple label="Salvar"
                                style="width: 7em;  background:#388669; height: 30px; border-radius: 6px; font-size: small; "
                                icon='pi pi-check'>
                            </button></strong>

                    </div>
                    <!-- <div class="form-group "></div>
                    <pre> {{contaForm.value | json}} </pre> -->
                </div>
            </app-ui-modal>
        </div>
    </form>
    <!-- MODAL CONTAS FIM -->


    <!-- MODAL CATEGORIA INICIO -->
    <form [formGroup]="categoriaForm" autocomplete="off" (submit)="submitFormCategoria()">
        <div class="col-sm-12">
            <app-ui-modal #modalCategoria [dialogClass]="'modal-lg'">
                <div class="app-modal-header ">
                    <div class="card ml-2 mr-2"
                        style="width: 46rem; height: 1rem; background: #fcfdfd; padding-bottom: 10px; padding-top: 5px">
                        <ol class="breadcrumb ">
                            <h5 class="modal-title text-dark">{{ pageTitle }}</h5>
                        </ol>
                    </div>
                </div>

                <div class="app-modal-body">

                    <!-- Modal Body Inicio -->
                    <div class="row ml-2 mr-2">
                        <!-- Id -->
                        <div class="form-group col-md-2">
                            <label>Código</label>
                            <input readonly type="text" class="form-control" formControlName="id">
                        </div>

                        <!-- Nome -->
                        <div class="form-group col-md-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" formControlName="nome">
                        </div>

                        <!-- Tipo Categoria -->
                        <div class="form-group col-md-4">
                            <label>Tipo de Categoria</label>
                            <p-select class="w-full md  mb-2" formControlName="tipo" [options]="tipoCategoria"
                                [editable]="false" [filter]="false" filterBy="nome" [showClear]="false"
                                optionLabel="nome" resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down"
                                [autofocus]="false" optionValue="nome" placeholder="Selecione um tipo de Categoria">
                            </p-select>

                        </div>

                        <!--  TipoPadrãoIgreja -->
                        @if(perfil == 'ADMIN'){
                        <div class="form-group col-md-6">
                            <label>Tipo - Padrão | Normal</label>
                            <p-select (onChange)="onChangeTipoCategoria($event)" class="w-full md  mb-2"
                                formControlName="tipoPadraoIgreja" [options]="tipoPadraoIgreja" [editable]="false"
                                [filter]="false" filterBy="nome" [showClear]="false" optionLabel="nome"
                                resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down"
                                ngbTooltip="TIPO: Padrão= Visível para todo sistema | Igreja= Visível apenas para Igreja"
                                [autofocus]="false" optionValue="nome" placeholder="Selecione...">
                            </p-select>

                        </div>
                        }
                    </div>


                    <!-- Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  -->
                    <div class="modal-footer">
                        @if(categoriaForm.controls['id'].value > 0){
                        <button type="button" pButton pRipple
                            (click)="exclusaoCategoria(categoria); modalCategoria.hide(); resetModalCategoria()"
                            styleClass="p-button-sm" icon='pi pi-times'
                            style="width: 7em; height: 30px; border-radius: 6px;" pButton pRipple label="Excluir"
                            class="p-button-danger ml-2 p-button-outlined ">
                        </button>
                        }

                        <button data-dismiss="modal" type="button" class=" ml-4" pButton pRipple (click)="modalCategoria.hide();
                          resetModalCategoria()" label="Fechar" style="width: 7em; height: 30px; font-size: small;
                          border-radius: 6px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                        </button>

                        <strong><button (click)="modalCategoria.hide()" [disabled]="categoriaForm.invalid" type="submit"
                                class=" mr-5 ml-4" pButton pRipple label="Salvar"
                                style="width: 7em;  background:#388669; height: 30px; border-radius: 6px; font-size: small; "
                                icon='pi pi-check'>
                            </button></strong>

                    </div>
                    <!-- <div class="form-group "></div>
                      <pre> {{categoriaForm.value | json}} </pre> -->
                </div>
            </app-ui-modal>
        </div>
    </form>

    <!-- MODAL CATEGORIA FIM -->

    <!-- MODAL CENTRO CUSTO INICIO -->
    <form [formGroup]="centroCustoForm" autocomplete="off" (submit)="submitFormCentroCusto()">
        <div class="col-sm-12">
            <app-ui-modal #modalCentroCusto [dialogClass]="'modal-lg'">
                <div class="app-modal-header ">
                    <div class="card ml-2 mr-2"
                        style="width: 46rem; height: 1rem; background: #fcfdfd; padding-bottom: 10px; padding-top: 5px">
                        <ol class="breadcrumb ">
                            <h5 class="modal-title text-dark">{{ pageTitle }}</h5>
                        </ol>
                    </div>
                </div>

                <div class="app-modal-body">

                    <!-- Modal Body Inicio -->
                    <div class="row ml-2 mr-2">
                        <!-- Id -->
                        <div class="form-group col-md-1">
                            <label>Código</label>
                            <input readonly type="text" class="form-control" formControlName="id">
                        </div>

                        <!-- Nome -->
                        <div class="form-group col-md-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" formControlName="nome">
                        </div>

                        <!--  TipoPadrãoIgreja -->
                        @if(perfil == 'ADMIN'){
                        <div class="form-group col-md-5">
                            <label>Tipo - Padrão | Normal</label>
                            <p-select (onChange)="onChangeTipoCentroCusto($event)" class="w-full md  mb-2"
                                formControlName="tipoPadraoIgreja" [options]="tipoPadraoIgreja" [editable]="false"
                                [filter]="false" filterBy="nome" [showClear]="false" optionLabel="nome"
                                resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down"
                                ngbTooltip="TIPO: Padrão= Visível para todo sistema | Igreja= Visível apenas para Igreja"
                                [autofocus]="false" optionValue="nome" placeholder="Selecione...">
                            </p-select>

                        </div>
                        }
                    </div>

                    <!-- Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  -->
                    <div class="modal-footer">
                        @if(centroCustoForm.controls['id'].value > 0){
                        <button type="button" pButton pRipple
                            (click)="exclusaoCentroCusto(centroCusto); modalCentroCusto.hide(); resetModalCentroCusto()"
                            styleClass="p-button-sm" icon='pi pi-times'
                            style="width: 7em; height: 30px; border-radius: 6px;" pButton pRipple label="Excluir"
                            class="p-button-danger ml-2 p-button-outlined ">
                        </button>
                        }

                        <button data-dismiss="modal" type="button" class=" ml-4" pButton pRipple (click)="modalCentroCusto.hide();
                          resetModalCentroCusto()" label="Fechar" style="width: 7em; height: 30px; font-size: small;
                          border-radius: 6px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                        </button>

                        <strong><button (click)="modalCentroCusto.hide()" [disabled]="centroCustoForm.invalid"
                                type="submit" class=" mr-5 ml-4" pButton pRipple label="Salvar"
                                style="width: 7em;  background:#388669; height: 30px; border-radius: 6px; font-size: small; "
                                icon='pi pi-check'>
                            </button></strong>

                    </div>
                    <!-- <div class="form-group "></div>
                      <pre> {{centroCustoForm.value | json}} </pre> -->
                </div>
            </app-ui-modal>
        </div>
    </form>

    <!-- MODAL CENTRO FIM -->

    <!-- MODAL FORMA INICIO -->
    <form [formGroup]="formaForm" autocomplete="off" (submit)="submitFormForma()">
        <div class="col-sm-12">
            <app-ui-modal #modalForma [dialogClass]="'modal-lg'">
                <div class="app-modal-header ">
                    <div class="card ml-2 mr-2"
                        style="width: 46rem; height: 1rem; background: #fcfdfd; padding-bottom: 10px; padding-top: 5px">
                        <ol class="breadcrumb ">
                            <h5 class="modal-title text-dark">{{ pageTitle }}</h5>
                        </ol>
                    </div>
                </div>

                <div class="app-modal-body">

                    <!-- Modal Body Inicio -->
                    <div class="row ml-2 mr-2">
                        <!-- Id -->
                        <div class="form-group col-md-1">
                            <label>Código</label>
                            <input readonly type="text" class="form-control" formControlName="id">
                        </div>

                        <!-- Nome -->
                        <div class="form-group col-md-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" formControlName="nome">
                        </div>

                        <!--  TipoPadrãoIgreja -->
                        @if(perfil == 'ADMIN'){
                        <div class="form-group col-md-5">
                            <label>Tipo - Padrão | Normal</label>
                            <p-select (onChange)="onChangeTipoForma($event)" class="w-full md  mb-2"
                                formControlName="tipoPadraoIgreja" [options]="tipoPadraoIgreja" [editable]="false"
                                [filter]="false" filterBy="nome" [showClear]="false" optionLabel="nome"
                                resetFilterOnHide="true" dropdownIcon="pi pi-chevron-down"
                                ngbTooltip="TIPO: Padrão= Visível para todo sistema | Igreja= Visível apenas para Igreja"
                                [autofocus]="false" optionValue="nome" placeholder="Selecione...">
                            </p-select>
                        </div>
                        }
                    </div>

                    <!-- Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  Footer Modal  -->
                    <div class="modal-footer">
                        @if(formaForm.controls['id'].value > 0){
                        <button type="button" pButton pRipple
                            (click)="exclusaoForma(forma); modalForma.hide(); resetModalForma()"
                            styleClass="p-button-sm" icon='pi pi-times'
                            style="width: 7em; height: 30px; border-radius: 6px;" pButton pRipple label="Excluir"
                            class="p-button-danger ml-2 p-button-outlined ">
                        </button>
                        }

                        <button data-dismiss="modal" type="button" class=" ml-4" pButton pRipple (click)="modalForma.hide();
                          resetModalForma()" label="Fechar" style="width: 7em; height: 30px; font-size: small;
                          border-radius: 6px; border: 0;background: #1a82ce;" icon='pi pi-wallet'>
                        </button>

                        <strong><button (click)="modalForma.hide()" [disabled]="formaForm.invalid" type="submit"
                                class=" mr-5 ml-4" pButton pRipple label="Salvar"
                                style="width: 7em;  background:#388669; height: 30px; border-radius: 6px; font-size: small; "
                                icon='pi pi-check'>
                            </button></strong>

                    </div>
                    <!-- <div class="form-group "></div>
                    <pre> {{formaForm.value | json}} </pre> -->
                </div>
            </app-ui-modal>
        </div>
    </form>

    <!-- MODAL FORMA FIM -->
</div>