<!-- Inicio Breadcamb Inicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio BreadcambInicio Breadcamb-->
<ng-container class="" style="height: 100;">
  <div class="row ">
    <div class="col-md-12">
      <i class="fas fa-home f-18 text-dark"></i>   <span class="text-muted f-16">{{
        nomeIgreja }}</span>
      <hr class="mt-0 mb-2">
      <div class="row ">
        <div class="col-md-12">
          <div class="flex">
            <div class="row">

              <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 f-13">
                  <li class="breadcrumb-item active"><a>Home</a></li>
                  <li class="breadcrumb-item active"><a>Financeiro</a></li>
                  <li class="breadcrumb-item active"><a>Configuração</a></li>
                </ol>
              </nav>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
</ng-container>
<!-- fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb fim Breadcamb -->

<!-- Inicio Botões-->
<div class="card-header">
  <ng-container style="height: 100;">
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <!-- Botões Inicio-->
          <div class="">
            <span class="float-end  ml-2 mb-2">
              <strong><button (click)="submitForm()" [disabled]="submittingForm || ConfiguracaoForm.invalid"
                  type="button" class=" mr-3 ml-2" pButton pRipple label="Salvar"
                  style="width: 7em;  background:#388669; height: 30px; border-radius: 5px; font-size: small; color: aliceblue;"
                  icon='pi pi-check'>
                </button></strong>
            </span>
            <span class="float-end  ml-2   mb-2">
              <strong><button routerLink="/configuracoes" styleClass="p-button-sm" icon='pi pi-chevron-left'
                  type="button" label="voltar" class="p-button-purple mt-0" pButton pRipple label="Voltar" style="width: 7em; height: 30px; border-radius: 5px;
                          background: #1a82ce; color: aliceblue; font-size: small">
                </button></strong>
            </span>

          </div>
          <!-- Botões Fim-->

          <nav aria-label="breadcrumb ">
            <div class="form-group row col-sm-12 ml-0 mb-3">
              <div class="card mb-0" style="background-color: rgb(77, 83, 90); border-radius: 5px;">
                <span class="mr-8 mb-1 mt-1 text-white f-16 ">{{ pageTitle
                  }}</span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!-- Fim botões -->



<!-- CABEÇALHO DAS ABAS  -->

<ul class="nav nav-tabs profile-tabs nav-fills" style="font-size: 12px;" id="myTab" role="tablist">

  <!-- ABA PARA INSERÇÃO DE PESSOAS -->


  <li class="nav-item mt-0">
    <a class="nav-link text-reset" [ngClass]="{ active: this.activeTab === 'home' }"
      (click)="this.activeTab= 'home'; ativaTab()" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
      aria-controls="home" aria-selected="true"> <i class="fas fa-user mr-2 text-c-green f-18"></i>Configurações</a>
  </li>

  <li class="nav-item mt-0 mb-0">
    <a class="nav-link text-reset" [ngClass]="{ active: this.activeTab ==='titulo' }" (click)="this.activeTab='titulo'"
      id="titulo-tab" data-toggle="tab" href="javascript:" role="tab" aria-controls="titulo" aria-selected="false"><i
        class="fas fa-ribbon mr-2 text-dark f-18"></i>Dados
    </a>
  </li>
</ul>
<!-- FIM CABEÇALHO DAS ABAS  -->

<div class="page-header shadow ">

  <form [formGroup]="ConfiguracaoForm" autocomplete="off" (submit)="submitForm()">

    <!-- OBSERVAÇÃO PARTE  DE INCLUSÃO DE PESSOAS -->

    <!-- CONTROLE GERAL DAS ABAS -->
    <div class="tab-content  mb-2" id="myTabContent">

      <!-- INICIO ABA - DADOS BÀSICOS  -->
      <div class="tab-pane fade" [ngClass]="{ 'show active': this.activeTab
            === 'home' }" id="home" role="tabpanel" aria-labelledby="home-tab">

        <nav aria-label="breadcrumb  mb-0">
          <div class="form-group row col-sm-12 ml-0 mb-0">
            <div class="card mb-2  mt-2" style="background-color: rgb(77, 83, 90); border-radius: 5px;">
              <span class="mr-8 mb-1 mt-1 text-white f-16">Perfil</span>
            </div>
          </div>
        </nav>

      </div>

      <!-- FIM ABA -DADOS PESSOAIS  -->

      <!-- INICIO ABA DADOS -->
      <div class="tab-pane fade" [ngClass]="{ 'show active':
      this.activeTab === 'familiar' } " id="familiar" role="tabpanel" aria-labelledby="familiar-tab">

        <nav aria-label="breadcrumb mb-0">
          <div class="form-group row col-sm-12 ml-0 mb-0">
            <div class="card mb-2  mt-2" style="background-color: rgb(77, 83, 90); border-radius: 5px;">
              <span class="mr-8 mb-1 mt-1 text-white f-16">Conjuge</span>
            </div>
          </div>
        </nav>


      </div>
    </div>

    <div class="row ">
      <!-- <div class="form-group ">
        <pre> {{ConfiguracaoForm.value | json}} </pre><br>
      </div> -->
    </div>
  </form>

</div>