<hr class="mt-0">
<div class="row px-0">
  <span>
    <!-- Menu Relatórios -->
    <p-splitButton class="float-end mb-2 " label="   Relatórios   " icon="pi pi-print" [model]="printItems"
      severity="contrast" outlined size="small"
      [style]="{'height':'30px',  'border-radius':'6px', 'margin-left':'10px'}" />

    <!--Botão Imprimir ATA -->
    <p-button (click)="modalAta.show(); setData();" label="Imprimir ATA " icon="pi pi-print" size="small"
      severity="secondary"
      [style]="{'height':'30px',  'border-radius':'6px', 'margin-right':'0px', 'margin-left':'10px'}"
      class="float-end" />

    <!-- Botão Novo -->
    <p-button routerLink="new" label="Novo" icon="pi pi-user" size="small" severity="success"
      [style]="{'background':'#388669', 'height':'30px',  'border-radius':'6px', 'margin-right':'0px'}"
      class="float-end" />

  </span>
</div>
<span class="float-left">
  <nav aria-label="breadcrumb ">
    <div class="card mb-0 mt-1"
      style="background-color: rgb(77, 83, 90); padding-left: 11px; border-radius: 4px; height: 30px; align-content: center;">
      <span class="mr-8 ml-4 mb-1  mt-1 text-white f-13">
        <p class="f-14">Filtro de Pesquisa</p>
      </span>
    </div>
  </nav>
</span>

<div class="col-md-12">
  <div class="page-header shadow mb-3 px-3 py-0">
    <div class="row  mb-0 mt-0">

      <!-- Nome = pesquisar Casos-->
      <div class="form-group col-md-6 ml-0 mb-1  ">
        <label class="text-dark mt-0  mb-1"> Pesquisa</label>
        <p-inputgroup>
          <button type="button" class=""
            style="height: 30px; cursor:default ; border-radius: 6px; border-bottom-right-radius: 0; border-top-right-radius: 0; border: 0; background: #1a82ce   ;"
            pButton pRipple> <i class="pi pi-search"></i></button>
          <input (blur)="limpaPesaquisa()" class="form-control" [(ngModel)]="nome" type="text"
            [ngModelOptions]="{standalone: true}" placeholder="Pesquisar Nome ou Sobrenome"
            (input)="dtcaso.filterGlobal($event.target?.addEventListener, 'contains')"
            style="height: 30px; font-size: 12px; text-transform: uppercase ; border-bottom-left-radius: 0; border-top-left-radius: 0;">
        </p-inputgroup>
      </div>

      <!-- CheckBox Casos -->
      <div class="form-group col-md-2 d-inline mb-1  ">
        <label class="text-c-red mb-0">Ativas: {{ totalCasosAtivo }}</label>
        <div class="checkbox checkbox-danger mt-0  ml-5 ">
          <input type="checkbox" name="cb-caso" id="cb-caso" [checked]="casosAtivos" value="caso"
            (change)="onChangeCasos($event)" />
          <label for="cb-caso" class="cr"></label>
        </div>
      </div>

      <!-- CheckBox Vencidas -->
      <div class="form-group col-md-2 d-inline mb-1">
        <label class="text-c-green mb-0">Vencidas: {{ totalProvasVencida }}</label>
        <div class="checkbox  checkbox-success   ml-5">
          <input type="checkbox" name="cb-vencida" id="cb-vencida" [checked]="vencidas" value="vencida"
            (change)="onChangeVencidas($event)" />
          <label for="cb-vencida" class="cr"></label>
        </div>
      </div>

      <!-- CheckBox Arquivados -->
      <div class="form-group col-md-2  d-inline  mb-1 ">
        <label class="text-dark mb-0">Arquivadas</label>
        <div class="checkbox checkbox-primary   ml-5">
          <input type="checkbox" name="cb-arquivados" id="cb-arquivados" [checked]="arquivados" value="arquivados"
            (change)="onChangeArquivados($event)" />
          <label for="cb-arquivados" class="cr"></label>
        </div>
      </div>
      <!-- Fim CheckBox  -->
    </div>
  </div>
</div>



<!-- SESSAO IMPRIMIR ATA - MODAL -->

<div class="col-md-12 col-xl-12">

  <!-- Incio Modal  -->

  <div class="col-sm-12">
    <app-ui-modal #modalAta id="modalAta" [dialogClass]="'modal-md'">
      <div class="app-modal-body">

        <!-- Modal Body Inicio -->

        <form [formGroup]="casoListForm">
          <div class="row col-12">

            <!-- Data da ATA -->
            <div class="form-group col-md-7 ">
              <label>Data</label>
              <p-datepicker [style]="{'width':'100%','height':'30px'}" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1900:2100" [showButtonBar]="true" [showIcon]="true" inputId="icondisplay" dataType="string"
                dateFormat="dd/mm/yy" formControlName="dtCaso" placeholder="dd/mm/aaaa" />
            </div>

          </div>
        </form>

        <!-- Footer Modal  -->
        <div class="modal-footer" style="height: 38px;">

          <!-- Cancelar -->
          <button (click)="modalAta.hide()" styleClass="p-button-sm" icon='pi pi-wallet'
            style="width: 9em; height: 30px; border-radius: 5px; font-size: small;" pButton pRipple type="button"
            label="Cancelar" class="p-button-danger ml-2 p-button-outlined mt-1 ">
          </button>

          <!-- OK -->
          <strong><button (click)="modalAta.hide(); dataUS()" type="button" class="msl-3 float-end mt-0" pButton pRipple
              label="OK" style="width: 7em;  background:#388669; height: 30px; border-radius: 5px; font-size: small; "
              icon='pi pi-check'>
            </button></strong>
        </div>
      </div>
    </app-ui-modal>
  </div>
</div>
<!-- FIM SESSAO IMPRIMIR ATA - MODAL -->

<!-- Provas -->
<app-card [hidHeader]="true" cardTitle="" cardClass="card-border-c-green shadow  border-1">
  <div class="p-0">
    <p-table #dtcaso [value]="casos" responsiveLayout="stack" [globalFilterFields]="['nome']" [lazy]="true"
      (onLazyLoad)="loadCasosLazy($event)" [showCurrentPageReport]="true" [totalRecords]="totalRegistros" showGridlines
      stripedRows [rowsPerPageOptions]="[6, 15, 30]"
      currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros" [paginator]="true"
      [rows]="linesPerPage" emptyMessage="Nenhum registro encontrado">

      <ng-template #header>
        <tr>
          <th class="col-foto"
            style=" background:  rgb(77, 83, 90); font-size: 12px ;color: aliceblue; padding-top: 6px; padding-bottom: 6px; border-top-left-radius: 5px; ">
            <b>Foto</b>
          </th>
          <th
            style="background: rgb(77, 83, 90);  font-size: 12px ;color: aliceblue;  padding-top: 0px; padding-bottom: 0px;">
            <b>Nome</b>
          </th>

          <th
            style="background: rgb(77, 83, 90);  font-size: 12px ;color: aliceblue;  padding-top: 0px; padding-bottom: 0px;">
            <b>Disciplina</b>
          </th>
          <th
            style="background: rgb(77, 83, 90); color: aliceblue; font-size: 12px; padding-top: 6px; padding-bottom: 6px;"
            class="col-data-150">
            Situação</th>

          <th
            style="background: rgb(77, 83, 90); color: aliceblue; font-size: 12px; padding-top: 6px; padding-bottom: 6px;"
            class="col-date">Inicio
            prova</th>
          <th
            style="background: rgb(77, 83, 90); color: aliceblue; font-size: 12px; padding-top: 6px; padding-bottom: 6px;"
            class="col-date">Final
            prova
          </th>
          <th class="col-acoes" style="min-width:7rem; background: rgb(77, 83, 90);  font-size: 12px ;color: aliceblue;  padding-top: 6px; padding-bottom: 6px;
           border-top-right-radius: 5px">
            Ações</th>


        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-caso>
        <tr>

          <td class="py-1">
            <!-- Quando tem foto -->
            @if(caso?.fotoPessoa){
            <div class="flex items-center gap-2 ">
              <img src="data:image/jpg;base64,{{ caso?.fotoPessoa }}" [class]="'flag flag-' "
                class=" img-radius align-center " [routerLink]="[caso.id, 'edit']" [style]="{'cursor':'pointer'}"
                alt="user image" />
            </div>
            }

            <!-- Quando não tem foto -->
            @if(!caso?.fotoPessoa){
            <div class="col-foto d-inline-block align-center">
              <img src="assets/images/foto/Sem_Foto1.png" [routerLink]="[caso.id, 'edit']"
                class="img-radius align-top m-r-15" style=" cursor: pointer;" alt="user image" />
            </div>
            }
          </td>

          <td [routerLink]="[caso.id, 'edit']" class="m-r-15 py-1" style=" cursor: pointer; font-size: 12px;">{{
            caso.nome }}
          </td>

          <td [routerLink]="[caso.id, 'edit']" class="m-r-15 py-1" style=" cursor: pointer; font-size: 12px;">{{
            caso.disciplinaAplicada }}
          </td>

          <td class="col-data-header col-data-150 py-1">
            <span [routerLink]="[caso.id, 'edit']" style=" cursor: pointer; font-size: 12px;"
              [style.color]="caso.situacao === 'Comunhão' ? 'green' : caso.situacao === 'Prova' ? 'red' : 'blue'">{{
              caso.situacao
              }}</span>
          </td>

          <td [routerLink]="[caso.id, 'edit']" style=" cursor: pointer; font-size: 12px;" class="col-date py-1">{{
            caso.inicioProva }}</td>

          <td [routerLink]="[caso.id, 'edit']" style="font-size: 12px;" class="col-date py-1">{{ caso.finalProva }}
          </td>

          <td class="col-acoes-header py-1">
            <button [routerLink]="[caso.id, 'edit']" type="button" class="btn btn-icon btn-outline-info p-1 mt-0 mb-0"
              [style]="{'height': '25px', 'width': '25px'} ">
              <i class="pi pi-pencil"></i>
            </button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</app-card>