<!-- Cards Estaticticas -->
<div class="row">
    <div class="col-xl-12 col-md-12">
        <app-card [hidHeader]="true" cardClass="card-border-c-blue shadow  border-1 bg-light ">
            <div class="row align-items-center m-l-0">
                <div class="col-auto">
                    <i class="fas fa-users f-24 text-c-blue"></i>
                </div>
                <div class="col-auto">
                    <h6 class="text-muted m-b-10">Total de usuários</h6>
                    <h4 class="m-b-0">Em desenvolvimento</h4>
                </div>
            </div>
        </app-card>
    </div>
</div>
<!-- Fim Cards Estaticticas -->

<!-- Pesquisa usuarios -->
<div class="row mb-2">
    <div class="form-group col-md-4 mt-0 mb-3">
        <label class="text-dark mt-0 "></label>
        <p-inputgroup>
            <button type="button" class=""
                style="height: 32px; cursor:default ; border-radius: 5px; border-bottom-right-radius: 0; border-top-right-radius: 0; border: 0; background: #1a82ce   ;"
                pButton pRipple> <i class="pi pi-search"></i></button>
            <input class="form-control" [(ngModel)]="name" type="text" [ngModelOptions]="{standalone: true}"
                placeholder="Pesquisar Nome ou Sobrenome"
                (input)="dtusuario.filterGlobal($event.target?.addEventListener, 'contains')"
                style="height: 32px; font-size: 12px; text-transform: uppercase ; border-bottom-left-radius: 0; border-top-left-radius: 0;">
        </p-inputgroup>
    </div>

    <!--Fim pesquisa setores  -->

    <span class="col-sm-8 mt-0 p-4 ">
        <strong><button routerLink="new" type="button" class="float-end  " pButton pRipple label="Novo"
                style="width: 7em;  background:#388669; height: 32px; border-radius: 5px; font-size: small; "
                icon="pi pi-check">
            </button></strong>
    </span>
</div>



<app-card [hidHeader]="true" cardTitle="" cardClass="card-border-c-blue shadow  border-1">
    <div class="p-0">
        <p-table #dtusuario [value]="usuarios" responsiveLayout="stack" [globalFilterFields]="['name']" [lazy]="true"
            (onLazyLoad)="loadUsuariosLazy($event)" [showCurrentPageReport]="true" [totalRecords]="totalRegistros"
            showGridlines stripedRows [rowsPerPageOptions]="[8, 10, 25, 50]"
            currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros" [paginator]="true"
            [rows]="linesPerPage" emptyMessage="Nenhum registro encontrado">
            <ng-template #header>
                <tr>
                    <th class="col-foto" style=" background:  rgb(77, 83, 90); font-size: 12px ;color: aliceblue; padding-top: 
                           6px; padding-bottom: 6px; border-top-left-radius: 5px; ">
                        <b>Foto</b>
                    </th>

                    <th class="col-data-content-4"
                        style="background: rgb(77, 83, 90); font-size: 12px ;color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                        <b>Nome</b>
                    </th>
                    <th class="col-data-content-4"
                        style="background: rgb(77, 83, 90); font-size: 12px ;color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                        <b>E-mail</b>
                    </th>
                    <th class="col-data-content"
                        style="background: rgb(77, 83, 90); font-size: 12px ;color: aliceblue; padding-top: 6px; padding-bottom: 6px;">
                        <b>Password</b>
                    </th>

                    <th class="col-acoes-header" style="min-width:7rem; background: rgb(77, 83, 90);  font-size: 12px ;color: aliceblue;  
                            padding-top: 6px; padding-bottom: 6px; border-top-right-radius: 5px">
                        Ações</th>
                </tr>
            </ng-template>

            <ng-template #body let-usuario>
                <tr>
                    <td>
                        <!-- Quando tem foto -->
                        @if (usuario?.foto) {
                        <div class="col-foto d-inline-block align-center">
                            <img src="data:image/jpg;base64,{{ usuario?.foto }}" [routerLink]="[usuario.id, 'edit']"
                                class=" img-radius align-center m-r-15" style=" cursor: pointer;"
                                alt="user image" />
                        </div>
                        }

                        <!-- Quando não tem foto -->
                        @if (!usuario?.foto) {
                        <div class="col-foto d-inline-block align-center">
                            <img src="assets/images/foto/Sem_Foto1.png" [routerLink]="[usuario.id, 'edit']"
                                class="img-radius align-top m-r-15" style="cursor: pointer;"
                                alt="user image" />
                        </div>
                        }
                    </td>

                    <td [routerLink]="[usuario.id, 'edit']" class="col-data-content-4"
                        style=" cursor: pointer; font-size: 13px; min-width: 200px;">{{
                        usuario.name }}
                    </td>
                    <td class="col-data-content-3" style=" cursor: pointer; font-size: 13px;">{{
                        usuario.email
                        }}
                    </td>
                    <td class="col-data-content-3" style=" cursor: pointer; font-size: 13px;">{{
                        usuario.password
                        }}
                    </td>
                    <td class="col-acoes-header">
                        <button [routerLink]="[usuario.id, 'edit']" type="button"
                            class="btn btn-icon btn-outline-info p-1" [style]="{'height': '30px', 'width': '30px'} "
                            [placement]="'top'" ngbTooltip="Alterar Cadastro">
                            <i class="pi pi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</app-card>